<div class="static-content">


  <div class="example-container clearfix clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/alignment.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>To initialize Handsontable with predefined horizontal and vertical alignment, provide className cells
      details in form of a grid, <code>columns</code> or <code>cell</code> setting (see code sample below).
    </p>
    <p>Available classNames:</p>
    <ul>
      <li>Horizontal: <code>htLeft</code>, <code>htCenter</code>, <code>htRight</code>, <code>htJustify</code>,
      </li>
      <li>Vertical: <code>htTop</code>, <code>htMiddle</code>, <code>htBottom</code>.</li>
    </ul>
    <p>Alignment changes can be tracked using <code>afterSetCellMeta</code> hook callback.</p>

    <div data-jsfiddle="example1" class="scroll-container">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(container, {
          data: Handsontable.helper.createSpreadsheetData(100, 18),
          colWidths: [47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47],
          rowHeaders: true,
          colHeaders: true,
          contextMenu: true,
          mergeCells: [
            {row: 1, col: 1, rowspan: 3, colspan: 3},
            {row: 3, col: 4, rowspan: 2, colspan: 2}
          ],
          className: "htCenter",
          cell: [
            {row: 0, col: 0, className: "htRight"},
            {row: 1, col: 1, className: "htLeft htMiddle"},
            {row: 3, col: 4, className: "htLeft htBottom"}
          ],
          afterSetCellMeta: function (row, col, key, val) {
            console.log("cell meta changed", row, col, key, val);
          }
        });
      </script>
    </div>
  </div>
</div>

