<div class="static-content">


  <script data-jsfiddle="common">
    function getCarData() {
      return [
        ["Nissan", 2013, "black", "black"],
        ["Nissan", 2014, "blue", "blue"],
        ["Chrysler", 2015, "yellow", "black"],
        ["Volvo", 2016, "white", "gray"]
      ];
    }
  </script>

  <div class="index-list">
    <p>This page shows how to configure Handsontable with Autocomplete cell type, which expands the
      <a href="/<?js= version ?>/demo-handsontable.html">Handsontable cell type</a> with features typical for a combo box that
      updates its options based on user input. You will find here:</p>
    <ul>
      <li><a href="#lazy">Autocomplete lazy mode</a></li>
      <li><a href="#strict">Autocomplete strict mode</a></li>
      <li><a href="#strict-ajax">Autocomplete strict mode (Ajax)</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="lazy">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/autocomplete.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="lazy">Autocomplete lazy mode</h3>
    <p>This example shows the usage of the Autocomplete feature in the default <strong>lazy&nbsp;mode</strong>. In this mode,
      user can choose one of the suggested options while typing or enter a custom value that is not included in the suggestions.</p>
    <p>In this mode, the mouse and keyboard bindings are identical as in <a href="/<?js= version ?>/demo-handsontable.html">Handsontable cell type.</a>
      The options are rendered from the <code>source</code> property which can be an array, or a function that returns an array.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          example1 = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(example1, {
          data: getCarData(),
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
          columns: [
            {
              type: 'autocomplete',
              source: ['BMW', 'Chrysler', 'Nissan', 'Suzuki', 'Toyota', 'Volvo'],
              strict: false
            },
            {type: 'numeric'},
            {
              type: 'autocomplete',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white', 'purple', 'lime', 'olive', 'cyan'],
              strict: false
            },
            {
              type: 'autocomplete',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white', 'purple', 'lime', 'olive', 'cyan'],
              strict: false
            }
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="strict">
    <h3 id="strict">Autocomplete strict mode</h3>
    <p>This is the same example as above with a difference that autocomplete now runs in <strong>strict
      mode</strong>. In this mode, the autocomplete cells will only accept values that are defined in the source
      array. The mouse and keyboard bindings are identical as in <a href="/<?js= version ?>/demo-handsontable.html">Handsontable cell type</a> with the below differences:</p>
    <ul>
      <li>If there is at least one option visible, there always is a selection in HOT-in-HOT.</li>
      <li>When the first row is selected, pressing <kbd>Arrow up</kbd> does not deselect HOT-in-HOT.
        Instead behaves as the ENTER key but moves the selection in the main HOT upwards.</li>
    </ul>
    <p>In strict mode, the <strong>allowInvalid</strong> option determines the behaviour in case of manual user input:</p>
    <ul>
      <li><code>allowInvalid: true</code> (optional) - allows manual input of value that does not exist in the
        <code>source</code>. In this case, the field background highlight becomes red and the selection
        advances to the next cell
      </li>
      <li><code>allowInvalid: false</code> - does not allow manual input of value that does not exist in the
        <code>source</code>. In this case, the <kbd>ENTER</kbd> key is ignored and the editor field remains opened.</li>
    </ul>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          container2 = document.getElementById('example2'),
          hot2;

        hot2 = new Handsontable(container2, {
          data: getCarData(),
          colHeaders: ['Car<br>(allowInvalid true)', 'Year', 'Chassis color<br>(allowInvalid false)', 'Bumper color<br>(allowInvalid true)'],
          columns: [
            {
              type: 'autocomplete',
              source: ['BMW', 'Chrysler', 'Nissan', 'Suzuki', 'Toyota', 'Volvo'],
              strict: true
              // allowInvalid: true // true is default
            },
            {},
            {
              type: 'autocomplete',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white', 'purple', 'lime', 'olive', 'cyan'],
              strict: true,
              allowInvalid: false
            },
            {
              type: 'autocomplete',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white', 'purple', 'lime', 'olive', 'cyan'],
              strict: true,
              allowInvalid: true //true is default
            }
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="strict-ajax">
    <h3 id="strict-ajax">Autocomplete strict mode (Ajax)</h3>
    <p>Autocomplete can be also used with Ajax data source. In the below example, suggestions for the "Car" column are
      loaded from server. To load data from remote (asynchronous) source, assign a function to the 'source' property. Function should
      perform the server side request and call the callback function when the result is available.</p>

    <div data-jsfiddle="example3">
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script>
        var
          container3 = document.getElementById('example3'),
          hot3;

        hot3 = new Handsontable(container3, {
          data: getCarData(),
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
          columns: [
            {
              type: 'autocomplete',
              source: function (query, process) {
                $.ajax({
                  //url: 'php/cars.php', // commented out because our website is hosted as a set of static pages
                  url: 'scripts/json/autocomplete.json',
                  dataType: 'json',
                  data: {
                    query: query
                  },
                  success: function (response) {
                    console.log("response", response);
                    //process(JSON.parse(response.data)); // JSON.parse takes string as a argument
                    process(response.data);

                  }
                });
              },
              strict: true
            },
            {}, // Year is a default text column
            {}, // Chassis color is a default text column
            {} // Bumper color is a default text column
          ]
        });
      </script>
   </div>
  </div>
</div>
