<div class="static-content">
  <script src="/<?js= version ?>/bower_components/lodash/lodash.min.js" data-jsfiddle="common"></script>
  <script src="/<?js= version ?>/bower_components/backbone/backbone.js" data-jsfiddle="common"></script>
  <script src="/<?js= version ?>bower_components/backbone.relational/backbone-relational.js" data-jsfiddle="common"></script>


  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/backbonejs.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p><a href="http://backbonejs.org/" target="_blank">Backbone.js</a> is a client-side
      MV* framework that can do some pretty smart things
      with data going to and coming back from a server, and has a great
      event model for keeping multiple views in sync.
    </p>
    <p> This little example shows how Backbone Models and Collections can
      work with Handsontable. Below, you'll see events firing from
      changes in the <code>CarCollection</code> by Handsontable or
      otherwise.
    </p>

    <div data-jsfiddle="example1">
      <div>
        <div id="example1" class="hot"></div>
      </div>
      <p>
        <button id="add_car" class="intext-btn">Simulate a new Car</button>
        <select multiple="multiple" id="example1_events"></select>
      </p>
    </div>

    <p>
      <strong>Please note</strong> that Backbone integration is a work in progress since Handsontable 0.8.14.
      The code presented here has 2 known issues:
    </p>
    <ul>
      <li>inserting and removing rows or columns triggers errors, both when using <code>alter</code> method and
        the context menu,
      </li>
      <li><code>minSpareRows</code> does not have effect directly after row was added from Backbone (as a
        workaround, you would need to call <code>loadData</code> instead of <code>render</code>).
      </li>
    </ul>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById('example1'),
          addCar = document.getElementById('add_car'),
          eventHolder = document.getElementById('example1_events'),
          CarModel = Backbone.Model.extend({}),
          CarCollection,
          cars,
          hot;

        CarCollection = Backbone.Collection.extend({
          model: CarModel,
          // Backbone.Collection doesn't support `splice`, yet! Easy to add.
          splice: hackedSplice
        });

        cars = new CarCollection();

        // since we're not using a server... make up some data. This will make
        // a couple CarModels from these plain old objects
        cars.add([
          {make: 'Dodge', model: 'Ram', year: 2013, weight: 6811},
          {make: 'Toyota', model: 'Camry', year: 2014, weight: 3190},
          {make: 'Smart', model: 'Fortwo', year: 2015, weight: 1808}
        ]);

        hot = new Handsontable(container, {
          data: cars,
          dataSchema: makeCar,
          contextMenu: true,
          columns: [
            attr('make'),
            attr('model'),
            attr('year')
          ],
          colHeaders: ['Make', 'Model', 'Year']
          // minSpareRows: 1 //see notes on the left for `minSpareRows`
        });

        // this will log all the Backbone events getting fired!
        cars.on('all', logEvents)
          .on('add', function () {
            hot.render();
          })
          .on('remove', function () {
            hot.render();
          });

        // you'll have to make something like these until there is a better
        // way to use the string notation, i.e. "bb:make"!

        // normally, you'd get these from the server with .fetch()
        function attr(attr) {
          // this lets us remember `attr` for when when it is get/set
          return {data: function (car, value) {
            if (_.isUndefined(value)) {
              return car.get(attr);
            }
            car.set(attr, value);
          }};
        }

        // just setting `dataSchema: CarModel` would be great, but it is non-
        // trivial to detect constructors...
        function makeCar() {
          return new CarModel();
        }

        // use the "good" Collection methods to emulate Array.splice
        function hackedSplice(index, howMany /* model1, ... modelN */) {
          var args = _.toArray(arguments).slice(2).concat({at: index}),
            removed = this.models.slice(index, index + howMany);

          this.remove(removed).add.apply(this, args);

          return removed;
        }

        // show a log of events getting fired
        function logEvents(event, model) {
          var now = new Date(),
            option = document.createElement('OPTION');

          option.innerHTML = [':', now.getSeconds(), ':', now.getMilliseconds(), '[' + event + ']',
            JSON.stringify(model)].join(' ');
          eventHolder.insertBefore(option, eventHolder.firstChild);
        }

        Handsontable.Dom.addEvent(addCar, 'click', function () {
          cars.add({make: "Tesla", model: "S", year: 2012, weight: 4647.3});
        });
      </script>
    </div>
  </div>
</div>

