<div class="static-content">


  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/cell-editor.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Handsontable separates the process of displaying the cell value from the process of changing the value.
      Renderers are responsible for presenting the data and Editors for altering it. As a renderer has only one simple task:
      <em>get actual value of the cell and return its representation as a HTML code</em> they can be a single function.
      Editors, however, need to handle user input (that is, mouse and keyboard events),
      validate data and behave according to validation results, so putting all those functionalities into a single function
      wouldn't be a good idea. That's why Handsontable editors are represented by editor classes.</p>
    <p>Since Handsontable 0.10.0 we have rewritten most of the editors module to make it (hopefully) more understandable,
      predictable and easier to extend. This tutorial will give you a comprehensive understanding of how the whole process of cell
      editing works, how Handsontable Core manages editors, how editor life cycle looks like and finally - how to create your own
      editors.</p>
    <h2 id="editormanager">EditorManager</h2>
    <p><code>Handsontable.EditorManager</code> is a class responsible for handling all editors available in Handsontable. If
      <code>Handsontable.Core</code> needs
      to interact with editors it uses <code>Handsontable.EditorManager</code> object.
      <code>Handsontable.EditorManager</code> object is instantiated
      in <code>init()</code> method which is run, after you invoke <code>handsontable()</code> constructor for the first
      time. The reference for <code>Handsontable.EditorManager</code>
      object is kept private in Handsontable instance and you cannot access it. However, there are ways to alter the default
      behaviour of <code>Handsontable.EditorManager</code>, more on that later.</p>
    <h3 id="editormanager-tasks">EditorManager tasks</h3>
    <p><code>EditorManager</code> has 4 main tasks:</p>
    <ul>
      <li>selecting proper editor for an active cell</li>
      <li>preparing editor to be displayed</li>
      <li>displaying editor (based on user behavior)</li>
      <li>closing editor (based on user behavior).</li>
    </ul>
    <p>We will discuss each of those tasks in detail.</p>
    <h4 id="selecting-proper-editor-for-an-active-cell">Selecting proper editor for an active cell</h4>
    <p>When user selects a cell <code>EditorManager</code> finds the editor class assigned to this cell, examining the value
      of <code>editor</code> property.
      You can define <code>editor</code> property globally (for all cells in table), per column (for all cells in column) or
      for each cell
      individually. For more details see <a
        href="/<?js= version ?>/tutorial-setting-options.html#page-config">How cascading
        configuration works</a>.</p>
    <p>The value of <code>editor</code> property can be either a string representing an editor (such as 'text',
      'autocomplete', 'checkbox' etc.),
      or an editor class. <code>EditorManager</code> will then get an instance of editor class and the first very important
      thing to remember is:
      <strong>there is always one instance of certain editor class in a single table</strong>, in other words each editor
      class object
      <strong>is a singleton</strong> within a single table, which means that its constructor will be invoked only once per
      table.
      If you have 3 tables on a page, each table will have its own instance of editor class.
      This has some important implications that you have to consider creating your own editor.</p>
    <h4 id="preparing-editor-to-be-displayed">Preparing editor to be displayed</h4>
    <p>When <code>EditorManager</code> obtain editor class instance (editor object) it invokes its <code>prepare</code>
      method. The <code>prepare</code> method
      sets editor objects properties related to the selected cell, but does not display the editor. <code>prepare</code> is
      called each time
      user selects a cell. In some cases it can be invoked multiple times for the same cell, without changing the selection.
    </p>
    <h4 id="displaying-editor">Displaying editor</h4>
    <p>When editor is prepared the <code>EditorManager</code> waits for user event that triggers cell edition. Those events
      are:</p>
    <ul>
      <li>pressing <kbd>ENTER</kbd></li>
      <li>double clicking cell</li>
      <li>pressing <kbd>F2</kbd></li>
    </ul>
    <p>If any of those events is triggered, <code>EditorManager</code> calls editor's <code>beginEditing()</code>
      method, which should display the editor.</p>
    <h4 id="closing-editor">Closing editor</h4>
    <p>When editor is opened the <code>EditorManager</code> waits for user event that should end cell edition. Those events
      are:</p>
    <ul>
      <li>clicking on another cell (saves changes)</li>
      <li>pressing <kbd>ENTER</kbd> (saves changes)</li>
      <li>pressing <kbd>ESC</kbd> (abort changes)</li>
      <li>pressing <kbd>ARROW_UP</kbd>, <kbd>ARROW_DOWN</kbd>, <kbd>ARROW_LEFT</kbd>,
        <kbd>ARROW_RIGHT</kbd> (saves changes)
      </li>
      <li>pressing <kbd>TAB</kbd> (saves changes)</li>
      <li>pressing <kbd>HOME</kbd>, <kbd>END</kbd> (saved changes)</li>
      <li>pressing <kbd>PAGE_UP</kbd>, <kbd>PAGE_DOWN</kbd> (saved changes)</li>
    </ul>
    <p>If any of those events is triggered, <code>EditorManager</code> calls editor's <code>finishEditing()</code>
      method, which should try to save changes
      (unless <kbd>ESC</kbd> key has been pressed) and close the editor.</p>
    <h3 id="overriding-editormanager-default-behaviour">Overriding EditorManager default behaviour</h3>
    <p>You may want to change the default events that causes editor to open or close. For example, your editor might use
      <kbd>ARROW_UP</kbd> and <kbd>ARROW_DOWN</kbd> events to perform some actions (for example
      increasing or decreasing cell value)
      and you don't want <code>EditorManager</code> to close the editor when user press those keys. That's why
      <code>EditorManager</code> runs <code>beforeKeyDown</code>
      hook before processing user events. If you register a listener for <code>beforeKeyDown</code>, that call <code>stopImmediatePropagation()</code>
      on <code>event</code> object <code>EditorManager</code> won perform its default action. More on overriding <code>EditorManager</code>'s
      behaviour in section
      &quot;SelectEditor - creating editor from scratch&quot;.</p>
    <p>You should now have a better understanding on how <code>EditorManager</code> works. Let's go a bit deeper and see
      what methods every
      editor class must implement and what those methods do.</p>
    <h2 id="baseeditor">BaseEditor</h2>
    <p><code>Handsontable.editors.BaseEditor</code> is an abstract class from which all editor classes should inherit.
      It implements some of the basic editor methods as well as declares some methods that should be implemented by each
      editor class.
      In this section we examine all of those methods.</p>
    <h3 id="common-methods">Common methods</h3>
    <p>Common methods, are methods implemented by <code>BaseEditor</code> class. They contain some core logic that every
      editor should have.
      Most of the time, you shouldn't bother with those methods.
      However, if you are creating some more complex editors, you might want to override some of the common methods, in
      which case you should always
      invoke the original method and then perform other operations, specific to your editor.</p>
    <p><strong>Example</strong> - overriding common method</p>
    <pre>
      <code class="lang-js">// CustomEditor is a class function, inheriting form BaseEditor
CustomEditor.prototype.prepare = function(row, col, prop, td, originalValue, cellProperties){
  // Invoke the original method...
  Handsontable.editors.BaseEditor.prototype.prepare.apply(this, arguments);
  // ...and then do some stuff specific to your CustomEditor
  this.customEditorSpecificProperty = &#x27;foo&#x27;;
};
      </code>
    </pre>
    <p>There are 7 common methods. All of them are described below.</p>
    <h4 id="prepare-row-number-col-number-prop-string-td-htmltablecellelement-cellproperties-object-">prepare(row: <code>Number</code>,
      col: <code>Number</code>, prop: <code>String</code>, td: <code>HTMLTableCellElement</code>, cellProperties: <code>Object</code>)
    </h4>
    <p>Prepares editor to be displayed for given cell. Sets most of the instance properties.</p>
    <p>Returns: <code>undefined</code></p>
    <h4 id="beginediting-initialvalue-string-optional-">beginEditing(initialValue: 'String' <em>[optional]</em> )
    </h4>
    <p>Sets editor value to <code>initialValue</code>. If <code>initialValue</code> is undefined, the editor value is set to
      original cell value.
      Calls <code>open()</code> method internally.</p>
    <p>Returns: <code>undefined</code></p>
    <h4 id="finishediting-reverttooriginal-boolean-optional-ctrldown-boolean-optional-callback-function-">
      finishEditing(revertToOriginal: 'Boolean' <em>[optional]</em>, ctrlDown: <code>Boolean</code>
      <em>[optional]</em>, callback: <code>Function</code>)</h4>
    <p>Tries to finish cell edition. Calls <code>saveValue()</code> and <code>discardEditor()</code> internally.
      If <code>revertToOriginal</code> is set to <code>true</code> cell value is being set to its original value (from
      before the edition).
      <code>ctrlDown</code> value is passed to <code>saveValue()</code> as the second argument.</p>
    <p>Callback function contains a boolean parameter - if new value is valid or <code>allowInvalid</code> parameter is
      <code>true</code>,
      otherwise the parameter is <code>false</code>.</p>
    <h4 id="discardeditor-validationresult-boolean-">discardEditor(validationResult: <code>Boolean</code>)</h4>
    <p>Called when cell validation ends. If new value is saved successfully (<code>validationResult</code> is set to <code>true</code>
      or <code>allowInvalid</code> property is <code>true</code>)
      it calls <code>close()</code> method, otherwise calls <code>focus()</code> method and keeps editor opened.</p>
    <p>Returns: <code>undefined</code></p>
    <h4 id="savevalue-val-mixed-ctrldown-boolean-">saveValue(val: <code>Mixed</code>, ctrlDown: <code>Boolean</code>)</h4>
    <p>Tries to save <code>val</code> as new cell value. Performs validation internally. If <code>ctrlDown</code> is set to
      true the new value will be set to all selected cells.</p>
    <p>Returns: <code>undefined</code></p>
    <h4 id="isopened-">isOpened()</h4>
    <p>Returns <code>true</code> if editor is opened or <code>false</code> if editor is closed. Editor is considered to be
      opened after <code>open()</code> has been called.
      Editor is considered closed <code>close()</code> after method has been called.</p>
    <p>Returns: <code>Boolean</code></p>
    <h4 id="extend-">extend()</h4>
    <p>Returns: <code>Function</code> - a class function that inherits from the current class. The <code>prototype</code>
      methods of the returned class can be safely
      overwritten, without a danger of altering the parent's <code>prototype</code>.</p>
    <p><strong>Example</strong> - inheriting from <code>BaseEditor</code> and overriding its method</p>
    <pre><code class="lang-js">var CustomEditor = Handsontable.editors.BaseEditor.prototype.extend();

// This won't alter BaseEditor.prototype.beginEditing()
CustomEditor.prototype.beginEditing = function() {};</code></pre>
    <p><strong>Example</strong> - inheriting from another editor</p>
    <pre><code class="lang-js">var CustomTextEditor = Handsontable.editors.TextEditor.prototype.extend();

// CustomTextEditor uses all methods implemented by TextEditor.
// You can safely override any method without affecting original TextEditor.</code></pre>
    <p><strong>Note:</strong> This is an utility method not related to the process of editing cell.</p>
    <h3 id="editor-specific-methods">Editor specific methods</h3>
    <p>Editor specific methods are methods not implemented in <code>BaseEditor</code>. In order to work, every editor class
      has to
      implement those methods.</p>
    <h4 id="init-">init()</h4>
    <p>Method called when new instance of editor class is created. That happens at most once per table instance, as all used
      editors as <strong>singletons</strong> within table instance. You should use this methods to perform tasks which
      results can be reused
      during editor's lifecycle. The most common operation is creating HTML structure of editor.</p>
    <p>Method does not need to return any value.</p>
    <h4 id="getvalue-">getValue()</h4>
    <p>Method should act return the current editor value, that is value that should be saved as a new cell value.</p>
    <h4 id="setvalue-newvalue-mixed-">setValue(newValue: 'Mixed')</h4>
    <p>Method should set editor value to <code>newValue</code>.</p>
    <p><strong>Example</strong>
      Let's say we are implementing a DateEditor, which helps selecting date, by displaying a calendar.
      <code>getValue()</code> and <code>setValue()</code> method could work like so:</p>
    <pre><code class="lang-js">CalendarEditor.prototype.getValue = function() {
  return calendar.getDate(); // returns currently selected date, for example "2013/09/15"
};

CalendarEditor.prototype.setValue = function(newValue) {
  calendar.highlightDate(newValue); // highlights given date on calendar
};</code></pre>
    <h4 id="open-">open()</h4>
    <p>Displays the editor. In most cases this method can be as simple as:</p>
    <pre><code class="lang-js">CustomEditor.prototype.open = function() {
  this.editorDiv.style.display = '';
};</code></pre>
    <p>This method does need to return any value.</p>
    <h4 id="close-">close()</h4>
    <p>Hides the editor after cell value has been changed. In most cases this method can be as simple as:</p>
    <pre><code class="lang-js">CustomEditor.prototype.close = function() {
  this.editorDiv.style.display = 'none';
};</code></pre>
    <p>This method does need to return any value.</p>
    <h4 id="focus-">focus()</h4>
    <p>Focuses the editor. This method is called when user wants to close the editor by selecting another cell and the value
      in editor does not validate (and <code>allowInvalid</code> is <code>false</code>). In most cases this method can be as
      simple as:</p>
    <pre><code class="lang-js">CustomEditor.prototype.focus = function() {
  this.editorInput.focus();
};</code></pre>
    <p>This method does need to return any value.</p>
    <h3 id="common-editor-properties">Common editor properties</h3>
    <p>All of the undermentioned properties are available in editor instance through <code>this</code> object (e.g. <code>this.instance</code>).
    </p>
    <h4 id="instance-object-handsontable-core-">instance `Object:Handsontable.Core'</h4>
    <p>The instance of Handsontable to which this editor object belongs. Set in class constructor, immutable thorough the
      whole lifecycle of editor.</p>
    <h4 id="row-number-">row <code>Number</code></h4>
    <p>The active cell row index. Updated on every <code>prepare()</code> method call.</p>
    <h4 id="col-number-">col <code>Number</code></h4>
    <p>The active cell col index. Updated on every <code>prepare()</code> method call.</p>
    <h4 id="prop-string-">prop <code>String</code></h4>
    <p>The property name associated with active cell (relevant only when data source is an array of objects).
      Updated on every <code>prepare()</code> method call.</p>
    <h4 id="td-htmltablecellnode-">TD <code>HTMLTableCellNode</code></h4>
    <p>Node object of active cell. Updated on every <code>prepare()</code> method call.</p>
    <h4 id="cellproperties-object-">cellProperties 'Object'</h4>
    <p>An object representing active cell properties. Updated on every <code>prepare()</code> method call.</p>
    <h2 id="how-to-create-a-custom-editor-">How to create a custom editor?</h2>
    <p>Now you now all the philosophy behind Handsontable editors and you're ready to write your own editor.
      Basically, you can build a new editor from scratch, by creating a new editor class, which inherits form <code>BaseEditor</code>,
      or
      if you just want to enhance an existing editor, you can extend its class and override only a few of its methods.</p>
    <p>In this tutorial we will examine both approaches.
      We will create a completely new <code>SelectEditor</code> which uses <code>&lt;select&gt;</code> list to alter the
      value of cell.
      We will also create a <code>PasswordEditor</code> which works exactly like regular <code>TextEditor</code> except that
      it displays a password
      input instead of textarea.</p>
    <p>Let's begin with <code>PasswordEditor</code> as it is a bit easier.</p>
    <h3 id="-passwordeditor-extending-an-existing-editor"><code>PasswordEditor</code> - extending an existing editor</h3>
    <p><code>TextEditor</code> is the most complex editor available in Handsontable by default. It displays a <code>&lt;textarea&gt;</code>
      which automatically
      change its size to accommodate to its content. We would like to create a <code>PasswordEditor</code> which preserves
      all those capabilities
      but displays <code>&lt;input type=&quot;password&quot; /&gt;</code> field instead of <code>&lt;textarea&gt;</code>.
    </p>
    <p>As you may have guessed, we need to create a new editor class, that inherits from <code>TextEditor</code> and then
      override some of its
      methods to replace <code>&lt;textarea&gt;</code> with <code>input:password</code>. Luckily, textarea and password
      input have the same API, so all we
      have to do is replace the code responsible for creating HTML elements. If you take a look at TextEditor
      <code>init()</code> method,
      you'll notice that it calls internal <code>createElements()</code> method, which creates <code>
        &lt;textarea&gt;</code> node and append it to DOM during
      editor initialization - BINGO!.</p>
    <p>Here is the code</p>
    <pre><code class="lang-js">var PasswordEditor = Handsontable.editors.TextEditor.prototype.extend();

PasswordEditor.prototype.createElements = function () {
  // Call the original createElements method
  Handsontable.editors.TextEditor.prototype.createElements.apply(this, arguments);

  // Create password input and update relevant properties
  this.TEXTAREA = document.createElement('input');
  this.TEXTAREA.setAttribute('type', 'password');
  this.TEXTAREA.className = 'handsontableInput';
  this.textareaStyle = this.TEXTAREA.style;
  this.textareaStyle.width = 0;
  this.textareaStyle.height = 0;

  // Replace textarea with password input
  Handsontable.Dom.empty(this.TEXTAREA_PARENT);
  this.TEXTAREA_PARENT.appendChild(this.TEXTAREA);
};</code></pre>
    <p>That's it! You can now use your new editor:</p>
    <pre><code class="lang-js">var hot = new Handsontable(document.getElementById('container'), {
  data: someData,
  columns: [
    {
      type: 'text'
    },
    {
      editor: PasswordEditor
      // If you want to use string 'password' instead of passing the actual editor class check out section "Registering editor"
    }
  ]
});</code></pre>
    <p>Wow, that was easy. Just a few lines of code and everything works.
      Let's try something more complex, let's build new editor from the ground up.</p>
    <h3 id="-selecteditor-creating-editor-from-scratch"><code>SelectEditor</code> - creating editor from scratch</h3>
    <p>We're going to build a full featured editor, that lets user choose a cell value from predefined list of options,
      using
      standard <code>&lt;select&gt;</code> input. As an extra feature, we'll add an ability to change currently selected
      option with <kbd>ARROW_UP</kbd>
      and <kbd>ARROW_DOWN</kbd> keys.</p>
    <p>Things to do:</p>
    <ol>
      <li>Create a new class that inherits from <code>Handsontable.editors.BaseEditor</code>.</li>
      <li>Add function creating <code>&lt;select&gt;</code> input and attaching to DOM.</li>
      <li>Add function that populate <code>&lt;select&gt;</code> with options array passed in cell properties.</li>
      <li>Implement methods:
        <ul>
          <li><code>getValue()</code></li>
          <li><code>setValue()</code></li>
          <li><code>open()</code></li>
          <li><code>close()</code></li>
          <li><code>focus()</code></li>
        </ul>
      </li>
      <li>Override the default <code>EditorManager</code> behaviour, so that pressing <kbd>ARROW_UP</kbd> and
        <kbd>ARROW_DOWN</kbd> keys
        won't close the editor, but instead change the currently selected value.
      </li>
      <li>Register editor.</li>
    </ol>
    <h4 id="creating-new-editor">Creating new editor</h4>
    <p>That's probably the easiest part. All we have to do is call <code>BaseEditor.prototype.extend()</code> function
      which will return
      a new function class that inherits from <code>BaseEditor</code>.</p>
    <pre><code class="lang-js">var SelectEditor = Handsontable.editors.BaseEditor.prototype.extend();</code></pre>
    <p>Task one: <strong>DONE</strong></p>
    <h4 id="creating-select-input-and-attaching-it-to-dom">Creating <code>&lt;select&gt;</code> input and attaching it to
      DOM</h4>
    <p>There are three potential places where we can put the function that will create <code>&lt;select&gt;</code> element
      and put it in the DOM:</p>
    <ul>
      <li><code>init()</code> method</li>
      <li><code>prepare()</code> method</li>
      <li><code>open()</code> method</li>
    </ul>
    <p>The key to choose the best solution is to understand when each of those methods is called.</p>
    <p><code>init()</code> method is called during
      creation of editor class object. That happens at most one per table instance, because once the object is created it is
      reused every time <code>EditorManager</code> asks for this editor class instance (see <a
        href="http://en.wikipedia.org/wiki/Singleton_pattern">Singleton pattern</a> for details).</p>
    <p><code>prepare()</code> method is called every time user selects a cell that has this particular editor class set as
      <code>editor</code> property.
      So, if we set <code>SelectEditor</code> as editor for an entire column, then selecting any cell in this column will
      invoke <code>prepare()</code>
      method of <code>SelectEditor</code>. In other words, this method can be called hundreds of times during table life,
      especially when
      working with large data. Another important aspect of <code>prepare()</code> is that it should not display the editor
      (it's <code>open's</code> job).
      Displaying editor is triggered by user event such as pressing <kbd>ENTER</kbd>, <kbd>F2</kbd>
      or double clicking a cell,
      so there is some time between calling <code>prepare()</code> and actually displaying the editor. Nevertheless,
      operations performed
      by <code>prepare()</code> should be as fast as possible, to provide the best user experience.</p>
    <p><code>open()</code> method is called when editor needs to be displayed. In most cases this method should change CSS
      <code>display</code> property
      to <code>block</code> or perform something similar. User expects that editor will be displayed right after the event
      (pressing appropriate key or double clicking a cell) has been triggered, so <code>open()</code> method should work as
      fast as possible.</p>
    <p>Knowing all this, the most reasonable place to put the code responsible for creating <code>&lt;select&gt;</code>
      input is somewhere in
      <code>init()</code> method. DOM manipulation is considered to be quite expensive (regarding the resource consumption)
      operation, so
      it's best to perform it once and reuse the produced HTML nodes throughout the life of editor.</p>
    <pre><code class="lang-js">SelectEditor.prototype.init = function() {
  // Create detached node, add CSS class and make sure its not visible
  this.select = document.createElement('SELECT');
  Handsontable.Dom.addClass(this.select, 'htSelectEditor');
  this.select.style.display = 'none';

  // Attach node to DOM, by appending it to the container holding the table
  this.instance.rootElement.appendChild(this.select);
};</code></pre>
    <br/>
    <pre><code class="lang-css">.htSelectEditor {
  padding: 5px 7px;
  position: absolute;
  /*
   * This hack enables to change &#x3C;select&#x3E; dimensions in WebKit browsers
   */
  -webkit-appearance: menulist-button !important;
}</code></pre>
    <p>Task two: <strong>DONE</strong></p>
    <h4 id="populating-select-with-options">Populating <code>&lt;select&gt;</code> with options</h4>
    <p>In the previous step we implemented a function that creates the <code>&lt;select&gt;</code> input and attaches it to the DOM.
      You probably noticed that we haven&#39;t written any code that would create the <code>&lt;option&gt;</code> elements, therefore if we
      displayed the list, it would be empty.</p>
    <p>We want to be able to define an option list like this:</p>
    <pre><code class="lang-js">var hot = new Handsontable(document.getElementById('container'), {
  data: someData,
  columns: [
    {
      editor: SelectEditor,
      selectOptions: ['option1', 'option2', 'option3']
    }
  ]
});</code></pre>
    <p>There is no (easy) way to get to the value of <code>selectOptions</code>. Even if we could get to this array we could
      only populate the list with options once, if we do this in the 'init' function.
      What if we have more than one column using <code>SelectEditor</code> and each of them has it&#39;s own option list?
      It's even possible that two cells in the same column can have different option lists (cascade configuration - remember?)
      It's clear that we have to find a better place for the code that creates items for our list.</p>
    <p> We are left with two places <code>prepare()</code> and <code>open()</code>. The latter one is simpler to implement,
      but as we previously stated,
      <code>open()</code> should work as fast as possible and creating <code>&lt;option&gt;</code> nodes and attaching them
      to DOM might be time consuming,
      if <code>selectOptions</code> contains long list of options. Therefore, <code>prepare()</code> seems to be a safer
      place to do this kind of work.
      The only thing to keep in mind is that we should always invoke <code>BaseEditor's</code> original method when
      overriding <code>prepare()</code>.
      <code>BaseEditor.prototype.prepare()</code> sets some important properties, which are used by other editor methods.
    </p>
    <pre><code class="lang-javascript">// Create options in prepare() method
SelectEditor.prototype.prepare = function() {
  // Remember to invoke parent's method
  Handsontable.editors.BaseEditor.prototype.prepare.apply(this, arguments);

  var selectOptions = this.cellProperties.selectOptions;
  var options;

  if (typeof selectOptions == 'function') {
    options = this.prepareOptions(selectOptions(this.row,
    this.col, this.prop))
  } else {
    options = this.prepareOptions(selectOptions);
  }
  Handsontable.Dom.empty(this.select);

  for (var option in options) {
    if (options.hasOwnProperty(option)) {
      var optionElement = document.createElement('OPTION');
      optionElement.value = option;
      Handsontable.Dom.fastInnerHTML(optionElement, options[option]);
      this.select.appendChild(optionElement);
    }
  }
}; </code></pre>
    <p>Where the <code>prepareOptions</code> is:</p>
    <pre><code class="lang-javascript">SelectEditor.prototype.prepareOptions = function(optionsToPrepare) {
  var preparedOptions = {};

  if (Handsontable.helper.isArray(optionsToPrepare)) {
    for(var i = 0, len = optionsToPrepare.length; i < len; i++) {
      preparedOptions[optionsToPrepare[i]] = optionsToPrepare[i];
    }
  } else if (typeof optionsToPrepare == 'object') {
    preparedOptions = optionsToPrepare;
  }

  return preparedOptions;
};</code></pre>
    <p>Task three: <strong>DONE</strong></p>
    <h4 id="implementing-editor-specific-methods">Implementing editor specific methods</h4>
    <p>Most of the work is done. Now we just need to implement all the editor specific methods. Luckily, our editor is quite
      simple
      so those methods will be only few lines of code.</p>
    <pre><code class="lang-javascript">SelectEditor.prototype.getValue = function() {
  return this.select.value;
};

SelectEditor.prototype.setValue = function(value) {
  this.select.value = value;
};

SelectEditor.prototype.open = function() {
  var width = Handsontable.Dom.outerWidth(this.TD);
  var height = Handsontable.Dom.outerHeight(this.TD);
  var rootOffset = Handsontable.Dom.offset(this.instance.rootElement);
  var tdOffset = Handsontable.Dom.offset(this.TD);

  // sets select dimensions to match cell size
  this.select.style.height = height + 'px';
  this.select.style.minWidth = width + 'px';

  // make sure that list positions matches cell position
  this.select.style.top = tdOffset.top - rootOffset.top + 'px';
  this.select.style.left = tdOffset.left - rootOffset.left + 'px';
  this.select.style.margin = '0px';

  // display the list
  this.select.style.display = '';
};

SelectEditor.prototype.close = function() {
  this.select.style.display = 'none';
};</code></pre>
    <p>The implementations of <code>getValue()</code>, <code>setValue()</code> and <code>close()</code> are
      self-explanatory, but <code>open()</code> requires a few words of comment. First of all,
      the implementation assumes that code responsible for populating the list with options is placed in
      <code>prepare()</code>. Secondly, before
      displaying the list, we sets its <code>height</code> and <code>min-width</code> so that it matches the size of
      corresponding cell.
      It's an optional step, but without it the editor will have different sizes depending on the browser. Probably a
      good idea
      would be also to limit the maximum height of <code>&lt;select&gt;</code>. Finally, as the <code>&lt;select&gt;</code>
      has been appended to the end of the
      table container, we have to change its position so that it could be displayed above the cell that is being edited.
      Again,
      this is an optional step, but it seems quite reasonable to put the editor next to the appropriate cell.</p>
    <p>Task four: <strong>DONE</strong></p>
    <p>At this point we should have an editor that is ready to use. Put the code somewhere in your page and pass <code>SelectEditor</code>
      class function as value of <code>editor</code> property.</p>
    <pre><code class="lang-javascript">/*
 * PLACE EDITOR CODE HERE
 */
var hot = new Handsontable(document.getElementById('container'), {
  data: someData,
  columns: [
    {},
    {
      editor: SelectEditor,
      selectOptions: ['option1', 'option2', 'option3']
    }
  ]
});</code></pre>
    <h4 id="use-kbd-arrow_up-kbd-and-kbd-arrow_down-kbd-to-change-selected-value">Use <kbd>ARROW_UP</kbd> and
      <kbd>ARROW_DOWN</kbd> to change selected value</h4>
    <p>We know that our editor works, but let's add one more tweak to it. Currently, when editor is opened and user
      presses
      <kbd>ARROW_UP</kbd> or <kbd>ARROW_DOWN</kbd> editor closes and the selection moves one cell up
      or down. Wouldn't
      it be nice, if pressing up and down arrow keys changed the currently selected value? User could navigate to the cell,
      hit
      <kbd>ENTER</kbd>, choose the desired value and save changes by hitting <kbd>ENTER</kbd> again.
      It would be possible to
      work with the table without even laying your hand on a mouse. Sounds pretty good, but how to override the default
      behaviour?
      After all, it's the <code>EditorManager</code> who decides when to close the editor.</p>
    <p>Don't worry. Although, you don't have a direct access to <code>EditorManager</code> instance, you can still
      override its behaviour.
      Before <code>EditorManager</code> starts to process keyboard events it triggers <code>beforeKeyDown</code> hook. If
      any of the listening functions
      invoke <code>stopImmediatePropagation()</code> method on an <code>event</code> object <code>EditorManager</code> won't
      process this event any further. Therefore,
      all we have to do is register a <code>beforeKeyDown</code> listener function that checks whether <kbd>ARROW_UP</kbd>
      or <kbd>ARROW_DOWN</kbd>
      has been pressed and if so, stops event propagation and changes the currently selected value in <code>
        &lt;select&gt;</code> list accordingly.</p>
    <p>The thing that we need to keep in mind is that our listener should work only, when our editor is opened. We want to
      preserve
      the default behaviour for other editors, as well as when no editor is opened. That's why the most reasonable place
      to
      register our listener would be the <code>open()</code> method and the <code>close()</code> method should contain code
      that will remove our listener.</p>
    <p>Here's how the listener function could look like:</p>
    <pre><code class="lang-javascript">var onBeforeKeyDown = function(event) {
  var instance = this; // context of listener function is always set to Handsontable.Core instance
  var editor = instance.getActiveEditor();
  var selectedIndex = editor.select.selectedIndex;

  Handsontable.Dom.enableImmediatePropagation(event);

  switch (event.keyCode) {
    case Handsontable.helper.keyCode.ARROW_UP:
      var previousOption = editor.select.options[selectedIndex - 1];

      if (previousOption) { // if previous option exists
        editor.select.value = previousOption.value; // mark it as selected
      }

      event.stopImmediatePropagation(); // prevent EditorManager from processing this event
      event.preventDefault(); // prevent browser from scrolling the page up
      break;

    case Handsontable.helper.keyCode.ARROW_DOWN:
      var nextOption = editor.select.options[selectedIndex + 1];

      if (nextOption) { // if previous option exists
        editor.select.value = nextOption.value; // mark it as selected
      }
      event.stopImmediatePropagation(); // prevent EditorManager from processing this event
      event.preventDefault(); // prevent browser from scrolling the page up
      break;
}</code></pre>
    <p>The first two lines of <code>onBeforeKeyDown()</code> are the most important. First of all, in listeners
      <code>this</code> is set to instance
      of <code>Handsontable.Core</code> <strong>NOT</strong> the instance of our editor. To get an instance of editor class,
      we need to call
      <code>getActiveEditor()</code> method, which returns the active editor.</p>
    <p>Active editor is the editor which <code>prepare()</code> method was called most recently. For example, if you select
      a cell which
      editor is <code>Handsontable.TextEditor</code>, then <code>getActiveEditor()</code> will return an object of this
      editor class. If then select
      a cell (presumably in another column) which editor is <code>Handsontable.DateEditor</code>, the active editor changes
      and now
      <code>getActiveEditor()</code> will return an object of <code>DateEditor</code> class.</p>
    <p>The rest of the code should be quite clear. Now all we have to do is register our listener.</p>
    <pre><code class="lang-javascript">SelectEditor.prototype.open = function() {
  var width = Handsontable.Dom.outerWidth(this.TD);
  var height = Handsontable.Dom.outerHeight(this.TD);
  var rootOffset = Handsontable.Dom.offset(this.instance.rootElement);
  var tdOffset = Handsontable.Dom.offset(this.TD);

  this.select.style.height = height + 'px';
  this.select.style.minWidth = width + 'px';
  this.select.style.top = tdOffset.top - rootOffset.top + 'px';
  this.select.style.left = tdOffset.left - rootOffset.left + 'px';
  this.select.style.margin = '0px';
  this.select.style.display = '';

  // register listener
  this.instance.addHook('beforeKeyDown', onBeforeKeyDown);
};

SelectEditor.prototype.close = function() {
  this.select.style.display = 'none';
  // remove listener
  this.instance.removeHook('beforeKeyDown', onBeforeKeyDown);
};</code></pre>
    <p>Additionally, due to the recent change in the positioning of the overlays (fixed columns, rows, headers etc.) we need
      to set the css transform property. We'll use the <code>Handsontable.Dom</code>'s <code>getCssTransform</code>
      and <code>resetCssTransform</code> to get the correct values:</p>
    <pre><code class="lang-javascript">SelectEditor.prototype.open = function() {
  var width = Handsontable.Dom.outerWidth(this.TD);
  // important - group layout reads together for better performance
  var height = Handsontable.Dom.outerHeight(this.TD);
  var rootOffset = Handsontable.Dom.offset(this.instance.rootElement);
  var tdOffset = Handsontable.Dom.offset(this.TD);
  var editorSection = this.checkEditorSection();
  var cssTransformOffset;

  switch(editorSection) {
    case 'top':
      cssTransformOffset = Handsontable.Dom.getCssTransform(this.instance.view.wt.wtScrollbars.vertical.clone.wtTable.holder.parentNode);
      break;
    case 'left':
      cssTransformOffset = Handsontable.Dom.getCssTransform(this.instance.view.wt.wtScrollbars.horizontal.clone.wtTable.holder.parentNode);
      break;
    case 'corner':
      cssTransformOffset = Handsontable.Dom.getCssTransform(this.instance.view.wt.wtScrollbars.corner.clone.wtTable.holder.parentNode);
      break;
  }
  var selectStyle = this.select.style;

  if (cssTransformOffset && cssTransformOffset !== -1) {
    selectStyle[cssTransformOffset[0]] = cssTransformOffset[1];
  } else {
    Handsontable.Dom.resetCssTransform(this.select);
  }

  selectStyle.height = height + 'px';
  selectStyle.minWidth = width + 'px';
  selectStyle.top = tdOffset.top - rootOffset.top + 'px';
  selectStyle.left = tdOffset.left - rootOffset.left + 'px';
  selectStyle.margin = '0px';
  selectStyle.display = '';

  this.instance.addHook('beforeKeyDown', onBeforeKeyDown);
};

SelectEditor.prototype.checkEditorSection = function() {
  if (this.row < this.instance.getSettings().fixedRowsTop) {
    if (this.col < this.instance.getSettings().fixedColumnsLeft) {
      return 'corner';
    } else {
      return 'top';
    }
  } else {
    if (this.col < this.instance.getSettings().fixedColumnsLeft) {
      return 'left';
    }
  }
};
</code></pre>
    <p>Go ahead and test it!</p>
    <h2 id="registering-an-editor">Registering an editor</h2>
    <p>When you create an editor, a good idea is to assign it an alias that will refer to this particular editor class.
      Handsontable defines 6 aliases by default:</p>
    <ul>
      <li><code>text</code> for <code>Handsontable.editors.TextEditor</code></li>
      <li><code>numeric</code> for <code>Handsontable.editors.NumericEditor</code></li>
      <li><code>date</code> for <code>Handsontable.editors.DateEditor</code></li>
      <li><code>autocomplete</code> for <code>Handsontable.editors.AutocompleteEditor</code></li>
      <li><code>checkbox</code> for <code>Handsontable.editors.CheckboxEditor</code></li>
      <li><code>handsontable</code> for <code>Handsontable.editors.HandsontableEditor</code></li>
    </ul>
    <p>It gives users a convenient way for defining which editor should
      be use when changing value of certain cells. User doesn't need to
      know which class is responsible for displaying the editor, he does
      not even need to know that there is any class at all. What is
      more, you can change the class associated with an alias without a
      need to change code that defines a table.</p>
    <p>To register your own alias use <code>Handsontable.editors.registerEditor()</code> function. It takes two arguments:
    </p>
    <ul>
      <li><code>editorName</code> - a string representing an editor</li>
      <li><code>editorClass</code> - a class that will be represented by <code>editorName</code></li>
    </ul>
    <p>If you'd like to register <code>SelectEditor</code> under alias <code>select</code> you have to call:</p>
    <pre><code class="lang-javascript">Handsontable.editors.registerEditor('select', SelectEditor);</code></pre>
    <p>Choose aliases wisely. If you register your editor under name that is already registered, the target class will be
      overwritten:</p>
    <pre><code class="lang-javascript">Handsontable.editors.registerEditor('text', MyNewTextEditor);

// Now 'text' alias points to MyNewTextEditor class, not Handsontable.editors.TextEditor</code></pre>
    <p>So, unless you intentionally want to overwrite an existing alias, try to choose a unique name. A good practice is
      prefixing your aliases with some custom name (for example your GitHub username) to minimize the possibility of name
      collisions.
      This is especially important if you want to publish your editor, because you never know aliases has been
      registered by the user who uses your editor.</p>
    <pre><code class="lang-javascript">Handsontable.editors.registerEditor('select', SelectEditor);

// Someone might already registered such alias</code></pre>
    <pre><br><code class="lang-javascript">Handsontable.editors.registerEditor('my.select', SelectEditor);

// That's better.</code></pre>
    <h2 id="preparing-editor-for-publication">Preparing editor for publication</h2>
    <p>If you plan to publish your editor or just want to keep your code nice and clean (as we all do :) there are 3 simple
      steps
      that will help you to organize your code.</p>
    <h3 id="enclose-in-iife">Enclose in IIFE</h3>
    <p>Put your code in some kind of module, to avoid polluting global namespace. You can use AMD, CommonJS or any other
      module
      pattern, but the easiest way to isolate your code is to use plain immediately invoked function expression (IIFE).</p>
    <pre><code class="lang-javascript">(function(Handsontable){
  var CustomEditor = Handsontable.editors.BaseEditor.prototype.extend();

  // ...rest of the editor code

})(Handsontable);</code></pre>
    <p>Passing <code>Handsontable</code> namespace as argument is optional (as it is defined globally), but it's a good
      practice to use as
      few global objects as possible, to make modularisation and dependency management easier.</p>
    <h3 id="add-editor-to-dedicated-namespace">Add editor to dedicated namespace</h3>
    <p>Code enclosed in IIFE cannot be accessed from outside, unless it's intentionally exposed. To keep things well
      organized
      add your editor to a special namespace called <code>Handsontable.editors</code>. This way you can use your editor
      during table definition
      and other users will have an easy access to your editor, in case they would like to extend it.</p>
    <pre><code class="lang-javascript">(function(Handsontable){
  var CustomEditor = Handsontable.editors.BaseEditor.prototype.extend();

  // ...rest of the editor code

  // And at the end
  Handsontable.editors.CustomEditor = CustomEditor;

})(Handsontable);</code></pre>
    <p>From now on, you can use <code>CustomEditor</code> like so:</p>
    <pre><code class="lang-javascript">var hot = new Handsontable(document.getElementById('container'), {
  data: someData,
  columns: [
    {
      editor: Handsontable.editors.CustomEditor
    }
  ]
}); </code></pre>
    <p>Extending your <code>CustomEditor</code> is also easy.</p>
    <pre><code class="lang-javascript">var AnotherEditor = Handsontable.editors.CustomEditor.prototype.extend();</code></pre>
    <p>Keep in mind, that there is no restrictions on the name you choose, but choose wisely and do not overwrite existing
      editors. Try to keep the names unique.</p>
    <p>//TODO: add link to section Registering editors</p>
    <h3 id="registering-an-alias">Registering an alias</h3>
    <p>The final touch is to register your editor under some alias, so that users can easily refer to it without the need
      to now the actual class name. See Registering editor for details.</p>
    <p>To sum up, a well prepared editor should look like this:</p>
    <pre><code class="lang-javascript">(function(Handsontable){
  var CustomEditor = Handsontable.editors.BaseEditor.prototype.extend();

  // ...rest of the editor code

  // Put editor in dedicated namespace
  Handsontable.editors.CustomEditor = CustomEditor;

  // Register alias
  Handsontable.editors.registerEditor('theBestEditor', CustomEditor);

})(Handsontable);</code></pre>
  </div>
</div>
