<div class="static-content">

  <script type="text/javascript" data-jsfiddle="common">
    function getCarData() {
      return [
        {car: "Mercedes A 160", year: 2012, available: true, comesInBlack: 'yes'},
        {car: "Citroen C4 Coupe", year: 2013, available: false, comesInBlack: 'yes'},
        {car: "Audi A4 Avant", year: 2014, available: true, comesInBlack: 'no'},
        {car: "Opel Astra", year: 2015, available: false, comesInBlack: 'yes'},
        {car: "BMW 320i Coupe", year: 2016, available: false, comesInBlack: 'no'}
      ];
    }
  </script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/checkbox.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>If you have cells that contains only 2 possible values, you can use <code>checkbox</code> type.
      Data in such cells will be rendered as checkbox
      and can be easily changed by checking/unchecking the checkbox.</p>
    <p>Checking and unchecking can be performed using mouse or by pressing <kbd>SPACE</kbd>.
      You can change the state of multiple cells at once.
      Simply select cells you want to change and press <kbd>SPACE</kbd></p>

    <div data-jsfiddle="example1">
        <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script type="text/javascript" data-jsfiddle="example1">
        var example1 = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(example1, {
          data: getCarData(),
          colHeaders: ['Car model', 'Year of manufacture', 'Available'],
          columns: [
            {
              data: 'car'
            },
            {
              data: 'year',
              type: 'numeric'
            },
            {
              data: 'available',
              type: 'checkbox'
            }
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap">
    <h3>Checkbox template</h3>

    <p>If you want use other values than <code>true</code> and <code>false</code>,
      you have to provide this information using <code>checkedTemplate</code> and
      <code>uncheckedTemplate</code>. Handsontable will then update your data using appropriate template.
    </p>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var example2 = document.getElementById('example2');

        var hot2 = new Handsontable(example2, {
          data: getCarData(),
          colHeaders: ["Car model", "Year of manufacture", "Comes in black"],
          columns: [
            {
              data: "car"
            },
            {
              data: "year",
              type: 'numeric'
            },
            {
              data: "comesInBlack",
              type: "checkbox",
              checkedTemplate: 'yes',
              uncheckedTemplate: 'no'
            }
          ]
        });
      </script>
    </div>
  </div>
</div>
