<div class="static-content">
  <script src="/<?js= version ?>/bower_components/chroma-js/chroma.min.js" data-jsfiddle="common"></script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/chromajs.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>
      The following demo shows an example of using heatmaps for the values in tha grid's columns.
      Changing the values in the grid automatically recalculates the font color for the whole column, thereby
      updating a heatmap. The dynamic color scale calculation is done using the excellent
      <a href="http://driven-by-data.net/about/chromajs" target="_blank">Chroma.js</a>.
    </p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var data = [
            [2012, 190251, 5090, 195341],
            [2013, 224495, 6486, 230981],
            [2014, 254044, 6765, 260809],
            [2015, 254099, 7521, 261620],
            [2016, 271108, 9449, 280557],
            [2017, 280565, 11714, 292279],
            [2018, 284120, 11292, 295412],
            [2019, 279742, 11468, 291210],
            [2020, 290411, 11806, 302217],
            [2021, 290652, 10891, 301543],
            [2022, 283863, 10402, 294265],
            [2023, 267646, 10104, 255850]
          ],
          container = document.getElementById('example1'),
          lastChange = null,
          heatmap,
          heatmapScale,
          hot;

        heatmapScale  = chroma.scale(['#FFFFFF', '#8BC34A']);

        hot = new Handsontable(container,{
          data: data,
          colHeaders: ["Year", "Domestic Flights", "International Flights", "Total Flights"],
          columns: [
            {
              type: 'numeric'
            },
            {
              type: 'numeric',
              format: '0,0',
              renderer: heatmapRenderer
            },
            {
              type: 'numeric',
              format: '0,0',
              renderer: heatmapRenderer
            },
            {
              type: 'numeric',
              format: '0,0',
              renderer: heatmapRenderer
            },
          ],
          afterLoadData: updateHeatmap,
          beforeChangeRender: updateHeatmap
        });

        function updateHeatmap(change, source) {
          if (change) {
            heatmap[change[0][1]] = generateHeatmapData.call(this, change[0][1]);
          } else {
            heatmap = [];

            for(var i = 1, colCount = this.countCols(); i < colCount ; i++) {
              heatmap[i] = generateHeatmapData.call(this, i);
            }
          }
        }

        function point(min, max, value) {
          return (value - min) / (max - min);
        }

        function generateHeatmapData(colId) {
          var values = this.getDataAtCol(colId);

          return {
            min: Math.min.apply(null, values),
            max: Math.max.apply(null, values)
          };
        }

        function heatmapRenderer(instance, td, row, col, prop, value, cellProperties) {
          Handsontable.renderers.TextRenderer.apply(this, arguments);

          if (heatmap[col]) {
            td.style.backgroundColor = heatmapScale(point(heatmap[col].min, heatmap[col].max, parseInt(value, 10))).hex();
            td.style.textAlign = 'right';
          }
        }
      </script>
    </div>
  </div>
</div>

