<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/conditional-formatting.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>This demo shows how to use the cell type renderer feature to make some conditional formatting:</p>
    <ol>
      <li>first row is <strong>read-only</strong>, and formatted in <strong
        class="c-green">green bold</strong> text,
      </li>
      <li>all cells in the Nissan column are written in <em>italic</em>,</li>
      <li>empty cells have <span style="background: silver">silver</span> background,</li>
      <li>negative numbers are written in <span class="c-red">red</span>.</li>
    </ol>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot1"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <style data-jsfiddle="common">
        .make-me-red {
          color: #f00;
        }
      </style>
      <script data-jsfiddle="example1">
        var data = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda'],
            ['2014', -5, '', 12, 13],
            ['2015', '', -11, 14, 13],
            ['2016', '', 15, -12, 'readOnly']
          ],
          container,
          hot1;

        function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
          Handsontable.renderers.TextRenderer.apply(this, arguments);
          td.style.fontWeight = 'bold';
          td.style.color = 'green';
          td.style.background = '#CEC';
        }

        function negativeValueRenderer(instance, td, row, col, prop, value, cellProperties) {
          Handsontable.renderers.TextRenderer.apply(this, arguments);

          // if row contains negative number
          if (parseInt(value, 10) < 0) {
            // add class "negative"
            td.className = 'make-me-red';
          }

          if (!value || value === '') {
            td.style.background = '#EEE';
          }
          else {
            if (value === 'Nissan') {
              td.style.fontStyle = 'italic';
            }
            td.style.background = '';
          }
        }
        // maps function to lookup string
        Handsontable.renderers.registerRenderer('negativeValueRenderer', negativeValueRenderer);

        container = document.getElementById('example1');
        hot1 = new Handsontable(container, {
          data: data,
          afterSelection: function (row, col, row2, col2) {
            var meta = this.getCellMeta(row2, col2);

            if (meta.readOnly) {
              this.updateSettings({fillHandle: false});
            }
            else {
              this.updateSettings({fillHandle: true});
            }
          },
          cells: function (row, col, prop) {
            var cellProperties = {};

            if (row === 0 || this.instance.getData()[row][col] === 'readOnly') {
              cellProperties.readOnly = true; // make cell read-only if it is first row or the text reads 'readOnly'
            }
            if (row === 0) {
              cellProperties.renderer = firstRowRenderer; // uses function directly
            }
            else {
              cellProperties.renderer = "negativeValueRenderer"; // uses lookup map
            }

            return cellProperties;
          }
        });
      </script>
    </div>
  </div>
</div>

