<div class="static-content">

  <script data-jsfiddle="common">
    function getData() {
      return [
        ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
        ['2012', 10, 11, 12, 13, 15, 16],
        ['2013', 10, 11, 12, 13, 15, 16],
        ['2014', 10, 11, 12, 13, 15, 16],
        ['2015', 10, 11, 12, 13, 15, 16],
        ['2016', 10, 11, 12, 13, 15, 16]
      ];
    }
  </script>

  <div class="index-list">
    <p>This page explains how to use and configure right-click context menu with Handsontable:</p>
    <ul>
      <li><a href="#page-default">Context menu with default options</a></li>
      <li><a href="#page-specific">Context menu with specific options</a></li>
      <li><a href="#page-custom">Context menu with fully custom configuration</a></li>
      <li><a href="#page-copy-paste">Context menu with copy-paste option</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="default">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/context-menu.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-default">Context menu with default options</h3>
    <p>To run the basic configuration of the Context Menu, just set the contextMenu option to true.</p>
    <p>From version 0.11, context menu also works for row and column headers. When the context menu for the row
      header is opened, the column options are disabled. Likewise, when the context menu for the column header is opened,
      the row options are disabled</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          example1 = document.getElementById('example1'),
          settings1,
          hot1;

        settings1 = {
          data: getData(),
          rowHeaders: true,
          colHeaders: true,
          contextMenu: true
        };
        hot1 = new Handsontable(example1, settings1);
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="specific">
    <h3  id="page-specific">Context menu with specific options</h3>
    <p>You can limit options available in the context menu using contextMenu option as an array of strings:</p>
    <ul>
      <li>row_above</li>
      <li>row_below</li>
      <li>hsep1</li>
      <li>col_left</li>
      <li>col_right</li>
      <li>hsep2</li>
      <li>remove_row</li>
      <li>remove_col</li>
      <li>hsep3</li>
      <li>undo</li>
      <li>redo</li>
      <li>make_read_only</li>
      <li>alignment</li>
      <li>borders (with <a href="/<?js= version ?>/demo-custom-borders.html">Custom Borders</a> turned on)</li>
      <li>commentsAddEdit, commentsRemove (with <a href="/<?js= version ?>/demo-comments.html">Comments</a> turned on)</li>
    </ul>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          example2 = document.getElementById('example2'),
          settings2,
          hot2;

        settings2 = {
          data: getData(),
          rowHeaders: true,
          colHeaders: true,
          contextMenu: ['row_above', 'row_below', 'remove_row']
        };
        hot2 = new Handsontable(example2, settings2);
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="custom">
    <h3 id="page-custom">Context menu with fully custom configuration</h3>
    <p>For greatest configurability, you use contextMenu option as a configuration object as described in <a
      href="http://medialize.github.com/jQuery-contextMenu/docs.html" target="_blank">jQuery contextMenu documentation</a>.</p>
    <p>This example shows how to set <strong>custom text</strong>, how to <strong>disable</strong>
      "Remove row" and "Insert row above" for the first row and how to add your <strong>own option</strong>.</p>

    <div data-jsfiddle="example3">
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example3">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example3">
        var
          example3 = document.getElementById('example3'),
          settings3,
          hot3;

        settings3 = {
          data: getData(),
          rowHeaders: true,
          colHeaders: true
        };
        hot3 = new Handsontable(example3, settings3);

        hot3.updateSettings({
          contextMenu: {
            callback: function (key, options) {
              if (key === 'about') {
                setTimeout(function () {
                  // timeout is used to make sure the menu collapsed before alert is shown
                  alert("This is a context menu with default and custom options mixed");
                }, 100);
              }
            },
            items: {
              "row_above": {
                disabled: function () {
                  // if first row, disable this option
                  return hot3.getSelected()[0] === 0;
                }
              },
              "row_below": {},
              "hsep1": "---------",
              "remove_row": {
                name: 'Remove this row, ok?',
                disabled: function () {
                  // if first row, disable this option
                  return hot3.getSelected()[0] === 0
                }
              },
              "hsep2": "---------",
              "about": {name: 'About this menu'}
            }
          }
        })
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="copy-paste">
    <h3 id="page-copy-paste">Copy-paste configuration</h3>
    <p>Copy and Paste feature are available in Handsontable by default, but only as key shortcuts (<code>Ctrl (Cmd) + C</code> and <code>Ctrl (Cmd) + V</code> respectively).<br>
      This plugin makes them available also as a clickable options in the context menu. Unfortunately, due to the browser's security restrictions,
      Handsontable is forced to use a third-party flash-based library. We chose to use
      <a rel="nofollow" title="Zero Clipboard library" href="https://github.com/zeroclipboard/zeroclipboard" target="_blank">
        ZeroClipboard</a> - it adds a small invisible flash clip to your website, allowing the user to click on it, and thus save
      data to the clipboard.</p>
    <p>Please note, that our Copy/Paste Context Menu plugin requires some additional preparation:</p>
    <ul>
      <li><code>ZeroClipboard.js</code> must be present on your server and included in your website's <code>script</code> tag.</li>
      <li><code>ZeroClipboard.swf</code> must also be present at your server</li>
    </ul>
    <p>To configure Handsontable to use this plugin you need to add a <code>contextMenuCopyPaste</code> config item to your Hansontable instance.</p>
    <p><strong>It can be set to:</strong></p>
    <ul>
      <li><code>true</code> - if the <code>ZeroClipboard.swf</code> file is placed in the same directory as the <code>ZeroClipboard.js</code>, or</li>
      <li>
        <code>{swfPath: [path to the swf file]}</code>
      </li>
    </ul>

    <div data-jsfiddle="example4">
      <div id="example4" class="hot"></div>
    </div>

    <script src="/bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <br>
    <pre><code class="html">&#x3C;script src=&#x22;/bower_components/zeroclipboard/dist/ZeroClipboard.min.js&#x22;&#x3E;&#x3C;/script&#x3E;</code></pre>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example4">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example4" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example4">
        var
          example4 = document.getElementById('example4'),
          hot4;

        hot4 = new Handsontable(example4, {
          data: getData(),
          rowHeaders: true,
          colHeaders: true,
          contextMenu: true,
          contextMenuCopyPaste: {
            swfPath: '/bower_components/zeroclipboard/dist/ZeroClipboard.swf'
          }
        });
      </script>
    </div>
  </div>
</div>
