<div class="static-content">

  <div class="index-list">
    <p><strong>On this page:</strong></p>
    <ul>
      <li><a href="#page-cell">Rendering custom HTML in cells</a></li>
      <li><a href="#page-header">Rendering custom HTML in header</a></li>
      <li><a href="#page-dropdown">Changing cell type from a dropdown menu in cell header</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="cell">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/custom-renderers.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-cell">Rendering custom HTML in cells</h3>
    <p>This example shows how to use custom cell renderers to display HTML content in a cell.
      This is a very powerful feature. Just remember to escape any HTML code that could be used for XSS
      attacks. In the below configuration:</p>
    <ul>
      <li><strong>Title</strong> column uses built-in HTML renderer that allows any HTML. This is unsafe if your code comes from untrusted source. Take notice that a Handsontable user can use it to enter <code>&lt;script&gt;</code> or other potentially malicious tags using the cell editor!</li>
      <li><strong>Description</strong> column also uses HTML renderer (same as above)</li>
      <li><strong>Comments</strong> column uses a custom renderer (<code>safeHtmlRenderer</code>). This should be safe for user input, because only certain tags are allowed</li>
      <li><strong>Cover</strong> column accepts image URL as a string and converts it to a <code>&lt;img&gt;</code> in the renderer</li>
    </ul>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          data = [
            {
              title: "<a href='http://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691'>Professional JavaScript for Web Developers</a>",
              description: "This <a href='http://bit.ly/sM1bDf'>book</a> provides a developer-level introduction along with more advanced and useful features of <b>JavaScript</b>.",
              comments: "I would rate it &#x2605;&#x2605;&#x2605;&#x2605;&#x2606;",
              cover: "http://ecx.images-amazon.com/images/I/51bRhyVTVGL._SL50_.jpg"
            },
            {
              title: "<a href='http://shop.oreilly.com/product/9780596517748.do'>JavaScript: The Good Parts</a>",
              description: "This book provides a developer-level introduction along with <b>more advanced</b> and useful features of JavaScript.",
              comments: "This is the book about JavaScript",
              cover: "http://ecx.images-amazon.com/images/I/51gdVAEfPUL._SL50_.jpg"
            },
            {
              title: "<a href='http://shop.oreilly.com/product/9780596805531.do'>JavaScript: The Definitive Guide</a>",
              description: "<em>JavaScript: The Definitive Guide</em> provides a thorough description of the core <b>JavaScript</b> language and both the legacy and standard DOMs implemented in web browsers.",
              comments: "I've never actually read it, but the <a href='http://shop.oreilly.com/product/9780596805531.do'>comments</a> are highly <strong>positive</strong>.",
              cover: "http://ecx.images-amazon.com/images/I/51VFNL4T7kL._SL50_.jpg"
            }
          ],
          container1,
          hot1;

        container1 = document.getElementById('example1');
        hot1 = new Handsontable(container1, {
          data: data,
          colWidths: [200, 200, 200, 80],
          colHeaders: ["Title", "Description", "Comments", "Cover"],
          columns: [
            {data: "title", renderer: "html"},
            {data: "description", renderer: "html"},
            {data: "comments", renderer: safeHtmlRenderer},
            {data: "cover", renderer: coverRenderer}
          ]
        });

        // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
        function strip_tags(input, allowed) {
          var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi,
            commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;

          // making sure the allowed arg is a string containing only tags in lowercase (<a><b><c>)
          allowed = (((allowed || "") + "").toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');

          return input.replace(commentsAndPhpTags, '').replace(tags, function ($0, $1) {
            return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
          });
        }

        function safeHtmlRenderer(instance, td, row, col, prop, value, cellProperties) {
          var escaped = Handsontable.helper.stringify(value);
          escaped = strip_tags(escaped, '<em><b><strong><a><big>'); //be sure you only allow certain HTML tags to avoid XSS threats (you should also remove unwanted HTML attributes)
          td.innerHTML = escaped;

          return td;
        }

        function coverRenderer (instance, td, row, col, prop, value, cellProperties) {
          var escaped = Handsontable.helper.stringify(value),
            img;

          if (escaped.indexOf('http') === 0) {
            img = document.createElement('IMG');
            img.src = value;

            Handsontable.Dom.addEvent(img, 'mousedown', function (e){
              e.preventDefault(); // prevent selection quirk
            });

            Handsontable.Dom.empty(td);
            td.appendChild(img);
          }
          else {
            // render as text
            Handsontable.renderers.TextRenderer.apply(this, arguments);
          }

          return td;
        }
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="header">
    <h3 id="page-header">Rendering custom HTML in header</h3>

    <p>You can also put HTML into row and column headers. If you need to attach events to DOM elements like the checkbox below, just remember to identify the element
      by class name, not by id. This is because row and column headers are duplicated in the DOM tree and id
      attribute must be unique.</p>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          isChecked,
          container2 = document.getElementById('example2'),
          hot2;

        hot2 = new Handsontable(container2, {
          columns: [
            {},
            {renderer: customRenderer}
          ],
          colHeaders: function (col) {
            var txt;

            switch (col) {
              case 0:
                return '<b>Bold</b> and <em>Beautiful</em>';

              case 1:
                txt = "Some <input type='checkbox' class='checker' ";
                txt += isChecked ? 'checked="checked"' : '';
                txt += "> checkbox";

                return txt;
            }
          }
        });

        function customRenderer(instance, td) {
          Handsontable.renderers.TextRenderer.apply(this, arguments);

          if (isChecked) {
            td.style.backgroundColor = 'yellow';
          }
          else {
            td.style.backgroundColor = 'white';
          }

          return td;
        }

        Handsontable.Dom.addEvent(container2, 'mousedown', function (event) {
          if (event.target.nodeName == 'INPUT' && event.target.className == 'checker') {
            event.stopPropagation();
          }
        });

        Handsontable.Dom.addEvent(container2, 'mouseup', function (event) {
          if (event.target.nodeName == 'INPUT' && event.target.className == 'checker') {
            isChecked = !event.target.checked;
            hot2.render();
          }
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="dropdown">
    <h3 id="page-dropdown">Changing cell type from a dropdown menu in cell header</h3>

    <p>This example makes use of a plugin hook to add a custom dropdown menu to the cell header</p>

    <div data-jsfiddle="example3">
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example3">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>

      <style data-jsfiddle="example3">
        .changeType {
          border: 1px solid #bbb;
          color: #bbb;
          background: #eee;
          border-radius: 2px;
          padding: 2px;
          font-size: 9px;
          float: right;
          line-height: 9px;
          margin: 3px 3px 0 0;
        }
        .changeType:hover {
          border: 1px solid #777;
          color: #777;
          cursor: pointer;
        }
        .changeType.pressed {
          background-color: #999;
        }
        .changeTypeMenu {
          position: absolute;
          border: 1px solid #ccc;
          margin-top: 18px;
          box-shadow: 0 1px 3px -1px #323232;
          background: white;
          padding: 0;
          font-size: 13px;
          display: none;
          z-index: 10;
        }
        .changeTypeMenu li {
          text-align: left;
          list-style: none;
          padding: 2px 20px;
          cursor: pointer;
          margin-bottom: 0;
        }
        .changeTypeMenu li.active:before {
          font-size: 12px;
          content: "\2714";
          margin-left: -15px;
          margin-right: 3px;
        }
        .changeTypeMenu li:hover {
          background: #eee;
        }
      </style>

      <script data-jsfiddle="example3">
        var
          data3 = [
            ['', 'Maserati', 'Mazda', 'Mercedes', 'Mini', 'Mitsubishi'],
            ['2012', 0, 2941, 4303, 354, 5814],
            ['2013', 3, 2905, 2867, 412, 5284],
            ['2014', 4, 2517, 4822, 552, 6127],
            ['2015', 2, 2422, 5399, 776, 4151]
          ],
          columns = [
            {type: 'numeric'},
            {type: 'numeric'},
            {type: 'numeric'},
            {type: 'numeric'},
            {type: 'numeric'},
            {type: 'numeric'}
          ],
          container = document.getElementById('example3'),
          hot3;

        hot3 = new Handsontable(container,{
          data: data3,
          colHeaders: true,
          type: 'numeric',
          columns: columns,

          afterGetColHeader: function(col, TH) {
            var instance = this,
              menu = buildMenu(columns[col].type),
              button = buildButton();

            addButtonMenuEvent(button, menu);

            Handsontable.Dom.addEvent(menu, 'click', function (event) {
              if (event.target.nodeName == 'LI') {
                setColumnType(col, event.target.data['colType'], instance);
              }
            });
            if (TH.firstChild.lastChild.nodeName === 'BUTTON') {
              TH.firstChild.removeChild(TH.firstChild.lastChild);
            }
            TH.firstChild.appendChild(button);
            TH.style['white-space'] = 'normal';
          },
          cells: function (row, col, prop) {
            var cellProperties;

            if (row === 0) {
              cellProperties = {
                type: 'text' // force text type for first row
              };

              return cellProperties;
            }
          }
        });

        function addButtonMenuEvent(button, menu) {
          Handsontable.Dom.addEvent(button, 'click', function (event) {
            var changeTypeMenu, position, removeMenu;

            document.body.appendChild(menu);

            event.preventDefault();
            event.stopImmediatePropagation();

            changeTypeMenu = document.querySelectorAll('.changeTypeMenu');

            for (var i = 0, len = changeTypeMenu.length; i < len; i++) {
              changeTypeMenu[i].style.display = 'none';
            }
            menu.style.display = 'block';
            position = button.getBoundingClientRect();

            menu.style.top = (position.top + (window.scrollY || window.pageYOffset)) + 2 + 'px';
            menu.style.left = (position.left) + 'px';

            removeMenu = function (event) {
              if (event.target.nodeName == 'LI' && event.target.parentNode.className.indexOf('changeTypeMenu') !== -1) {
                if (menu.parentNode) {
                  menu.parentNode.removeChild(menu);
                }
              }
            };
            Handsontable.Dom.removeEvent(document, 'click', removeMenu);
            Handsontable.Dom.addEvent(document, 'click', removeMenu);
          });
        }

        function buildMenu(activeCellType){
          var
            menu = document.createElement('UL'),
            types = ['text', 'numeric', 'date'],
            item;

          menu.className = 'changeTypeMenu';

          for (var i = 0, len = types.length; i< len; i++) {
            item = document.createElement('LI');
            if('innerText' in item) {
              item.innerText = types[i];
            } else {
              item.textContent = types[i];
            }

            item.data = {'colType': types[i]};

            if (activeCellType == types[i]) {
              item.className = 'active';
            }
            menu.appendChild(item);
          }

          return menu;
        }

        function buildButton() {
          var button = document.createElement('BUTTON');

          button.innerHTML = '\u25BC';
          button.className = 'changeType';

          return button;
        }

        function setColumnType(i, type, instance) {
          columns[i].type = type;
          instance.updateSettings({columns: columns});
          instance.validateCells(function() {
            instance.render();
          });
        }
      </script>
    </div>
  </div>
</div>
