<div class="static-content">

  <div class="index-list">
    <p><strong>On this page:</strong></p>
    <ul>
      <li><a href="#page-tasks">Grunt tasks</a></li>
      <li><a href="#page-running">Running your first build</a></li>
      <li><a href="#page-customizing">Creating a custom package</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="building">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/custom-build.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>

    <p>The build process is done using <a href="http://gruntjs.com/" target="_blank">Grunt</a> and bunch of its
      tasks that are defined in
      <a href="https://github.com/handsontable/handsontable/blob/master/Gruntfile.js" target="_blank">Gruntfile.js</a>.
    </p>
    <p>During the build process, the source files located in the <code>src/*</code> directory are transformed
      into output files:</p>
    <ul>
      <li><code>./dist/handsontable.js</code></li>
      <li><code>./dist/handsontable.css</code></li>
      <li><code>./dist/handsontable.full.js</code></li>
      <li><code>./dist/handsontable.full.css</code> (more info about dist packages
        <a href="https://github.com/handsontable/handsontable/tree/master/dist" target="_blank">here</a>)
      </li>
      <li><code>./dist/handsontable.full.min.js</code></li>
      <li><code>./dist/handsontable.full.min.css</code></li>
    </ul>
    <p>It is advised that you never modify the above-mentioned files but rather make changes in the <code>src/</code>
      directory and then run a proper build. This is especially important if you want to contribute
      your changes back to Handsontable using a pull request.</p>
  </div>

  <div class="example-container clearfix" name="tasks">
    <h3 id="page-tasks">Grunt tasks</h3>
    <p>Currently, the following tasks are available for building Handsontable:</p>
    <ul>
      <li><code>grunt</code> - runs a single build</li>
      <li><code>grunt build</code> - runs a single build but without code quality checking</li>
      <li><code>grunt jshint</code> - quality-checking</li>
      <li><code>grunt watch</code> - watches for changes in source directory and runs a build when a change is observed. For faster rebuild when a change is observed watcher triggers task which builds files without minify.</li>
      <li><code>grunt --force default watch</code> - runs a single build and then watches for changes</li>
      <li><code>grunt test</code> - runs a single build followed by Jasmine test suite executed in PhantomJS.
      </li>
    </ul>
    <p>You can create your own tasks by editing <code>Gruntfile.js</code></p>
  </div>
  <div class="example-container clearfix" name="running">
    <h3 id="page-running">Running your first build</h3>
    <p>To run your own build, follow the below steps:</p>
    <ol>
      <li>Install Node.js (available for Windows, Mac and Linux). This will also install NPM (Node Package Manager) that
        handles all the dependencies. Handsontable was tested with Node.js >=0.10 and npm >=1.4
      </li>
      <li>Clone the Handsontable repository on your local disk and go to the directory where you cloned it.</li>
      <li>Install Grunt CLI as a global NPM module (<code>npm install -g grunt-cli</code>). More details can be found on
        <a href="http://gruntjs.com/getting-started" target="_blank">Grunt - Getting Started</a>.</li>
      <li>Run <code>npm install</code> to download all the dependencies defined in <code>package.json</code>. The
        dependencies will be downloaded into a new directory <code>node_modules</code>, that is ignored by Git.
      </li>
      <li><strong>Run <code>grunt</code> to make your first build!</strong></li>
    </ol>
    <p>If all is working correctly, you should see something like this:</p>
    <img width="822" height="660" src="/images/grunt-build.png" alt="Running your first build" />
  </div>
  <div class="example-container clearfix" name="customizing">
    <h3 id="page-customizing">Creating a custom package</h3>
    <p>For more advanced users we prepared a tool called <code>hot-builder</code>.
      With this tool you can customize Handsontable by excluding or including plugins.
      To install hot-builder globally run:</p>
    <p><code>npm install hot-builder -g</code></p>
    <p>Then to build Handsontable run:</p>
    <p><code>hot-builder build --output-dir hot-dist</code></p>
    <p>Select all necessary plugins in your terminal and press Enter.
      If it works correctly, you should see something like this:</p>
    <p><img width="822" height="164" src="/images/hot-builder-ui.png" alt="Creating a custom package" /></p>
    <p>And after selecting modules you should see something like this:</p>
    <p><img width="822" height="532" src="/images/hot-builder-results.png" alt="Creating a custom package" /></p>
    <p>For further details, check out <a href="https://github.com/handsontable/hot-builder" target="_blank">the project page</a>.</p>
  </div>
</div>
