<div class="static-content">

  <div class="index-list">
    <p>On this page:</p>
    <ul>
      <li><a href="#page-reference">Understand binding as a reference</a></li>
      <li><a href="#page-rendering">Change data without rendering changes</a></li>
      <li><a href="#page-clone">Clone data before saving it</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="reference">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/data-binding.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-reference">Understand binding as a reference</h3>
    <p>Handsontable binds to your data source (array or object) by reference. Therefore, all the data entered in
      the grid will alter the original data source. In complex applications, you may have a purpose to
      change data source programmatically (outside of
      Handsontable). A changed being made will not be presented on the screen unless you
      refresh the grid on screen using the <strong>render</strong> method.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          data1 = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
            ['2012', 10, 11, 12, 13, 15, 16],
            ['2013', 10, 11, 12, 13, 15, 16],
            ['2014', 10, 11, 12, 13, 15, 16],
            ['2015', 10, 11, 12, 13, 15, 16],
            ['2016', 10, 11, 12, 13, 15, 16]
          ],
          container1 = document.getElementById('example1'),
          settings1 = {
            data: data1
          },
          hot1;

        hot1 = new Handsontable(container1, settings1);
        data1[0][1] = 'Ford'; // change "Kia" to "Ford" programmatically
        hot1.render();
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="rendering">
    <h3 id="page-rendering">Change data without rendering changes</h3>
    <p>In case you want to keep separate working copy of data for Handsontable, it is suggested to clone the data
      source before loading it into Handsontable. This can be done with <code>JSON.parse(JSON.stringify(data))</code>
      or some other deep-cloning function.</p>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          data2 = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
            ['2012', 10, 11, 12, 13, 15, 16],
            ['2013', 10, 11, 12, 13, 15, 16],
            ['2014', 10, 11, 12, 13, 15, 16],
            ['2015', 10, 11, 12, 13, 15, 16],
            ['2016', 10, 11, 12, 13, 15, 16]
          ],
          container2 = document.getElementById('example2'),
          hot2;

        hot2 = new Handsontable(container2, {
          data: JSON.parse(JSON.stringify(data2))
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="clone">
    <h3 id="page-clone">Clone data before saving it</h3>
    <p>In a similar way, you may find it useful to clone data before saving it.
      That would be useful to make programmatic changes that would be saved to server but kept not visible to
      the user.</p>

    <div data-jsfiddle="example3">
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example3">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example3">
        var
          data3 = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
            ['2012', 10, 11, 12, 13, 15, 16],
            ['2013', 10, 11, 12, 13, 15, 16],
            ['2014', 10, 11, 12, 13, 15, 16],
            ['2015', 10, 11, 12, 13, 15, 16],
            ['2016', 10, 11, 12, 13, 15, 16]
          ],
          container3 = document.getElementById('example3'),
          hot3;

        hot3 = new Handsontable(container3, {
          data: data3,
          afterChange: function () {
            var tmpData = JSON.parse(JSON.stringify(data3));
            // now tmpData has a copy of data3 that can be manipulated
            // without breaking the Handsontable data source object
          }
        });
      </script>
    </div>
  </div>
</div>
