<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/data-validation.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Use the <strong>validator</strong> (see <a
      href="/<?js= version ?>/Options.html">options page</a>) method to easily
      validate synchronous or asynchronous changes to a cell. If you
      need more control, <strong>beforeValidate</strong> and <strong>afterValidate</strong> plugin hooks are available (see <a
        href="/<?js= version ?>/Hooks.html">hooks page</a>).
    In the below example, <code>email_validator_fn</code> is an async validator that resolves after 1000 ms.
    </p>
    <p>Use the <strong>allowInvalid</strong> option (see <a href="/<?js= version ?>/Options.html">options page</a>) to define if the
      grid should accept input that does not validate.
      If you need to modify the input (e.g. censor bad words, uppercase first letter), use the plugin hook <strong>beforeChange</strong>
      (see <a href="/<?js= version ?>/Hooks.html">hooks page</a>).
    </p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <p>Callback console: <code>[[row, col, oldValue, newValue], ...]</code></p>
    <p>Edit the above grid to see callback</p>
    <pre id="example1console" class="console"></pre>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var people = [
            {id: 1, name: {first: 'Joe', last: 'Fabiano'}, ip: '0.0.0.1', email: 'Joe.Fabiano@ex.com'},
            {id: 2, name: {first: 'Fred', last: 'Wecler'}, ip: '0.0.0.1', email: 'Fred.Wecler@ex.com'},
            {id: 3, name: {first: 'Steve', last: 'Wilson'}, ip: '0.0.0.1', email: 'Steve.Wilson@ex.com'},
            {id: 4, name: {first: 'Maria', last: 'Fernandez'}, ip: '0.0.0.1', email: 'M.Fernandez@ex.com'},
            {id: 5, name: {first: 'Pierre', last: 'Barbault'}, ip: '0.0.0.1', email: 'Pierre.Barbault@ex.com'},
            {id: 6, name: {first: 'Nancy', last: 'Moore'}, ip: '0.0.0.1', email: 'Nancy.Moore@ex.com'},
            {id: 7, name: {first: 'Barbara', last: 'MacDonald'}, ip: '0.0.0.1', email: 'B.MacDonald@ex.com'},
            {id: 8, name: {first: 'Wilma', last: 'Williams'}, ip: '0.0.0.1', email: 'Wilma.Williams@ex.com'},
            {id: 9, name: {first: 'Sasha', last: 'Silver'}, ip: '0.0.0.1', email: 'Sasha.Silver@ex.com'},
            {id: 10, name: {first: 'Don', last: 'Pérignon'}, ip: '0.0.0.1', email: 'Don.Pérignon@ex.com'},
            {id: 11, name: {first: 'Aaron', last: 'Kinley'}, ip: '0.0.0.1', email: 'Aaron.Kinley@ex.com'}
          ],
          example1 = document.getElementById('example1'),
          example1console = document.getElementById('example1console'),
          settings1,
          ipValidatorRegexp,
          emailValidator;

        ipValidatorRegexp = /^(?:\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b|null)$/;
        emailValidator = function (value, callback) {
          setTimeout(function(){
            if (/.+@.+/.test(value)) {
              callback(true);
            }
            else {
              callback(false);
            }
          }, 1000);
        };

        settings1 = {
          data: people,
          beforeChange: function (changes, source) {
            for (var i = changes.length - 1; i >= 0; i--) {
              // gently don't accept the word "foo" (remove the change at index i)
              if (changes[i][3] === 'foo') {
                changes.splice(i, 1);
              }
              // if any of pasted cells contains the word "nuke", reject the whole paste
              else if (changes[i][3] === 'nuke') {
                return false;
              }
              // capitalise first letter in column 1 and 2
              else if ((changes[i][1] === 'name.first' || changes[i][1] === 'name.last') && changes[i][3].charAt(0)) {
                changes[i][3] = changes[i][3].charAt(0).toUpperCase() + changes[i][3].slice(1);
              }
            }
          },
          afterChange: function (changes, source) {
            if (source !== 'loadData') {
              example1console.innerText = JSON.stringify(changes);
            }
          },
          colHeaders: ['ID', 'First name', 'Last name', 'IP', 'E-mail'],
          columns: [
            {data: 'id', type: 'numeric'},
            {data: 'name.first'},
            {data: 'name.last'},
            {data: 'ip', validator: ipValidatorRegexp, allowInvalid: true},
            {data: 'email', validator: emailValidator, allowInvalid: false}
          ]
        };
        var hot = new Handsontable(example1, settings1);
      </script>
    </div>
  </div>
</div>

