<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        ["Mercedes", "A 160", "01/14/2012", 6999.9999],
        ["Citroen", "C4 Coupe", "12/01/2013", 8330],
        ["Audi", "A4 Avant", "11/19/2014", 33900],
        ["Opel", "Astra", "02/02/2015", 7000],
        ["BMW", "320i Coupe", "07/24/2016", 30500]
      ];
    }
  </script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/date.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>To trigger the Date cell type, use the option <code>type: 'date'</code> in <code>columns</code> array
      or <code>cells</code> function. The Date cell uses <a href="https://github.com/dbushell/Pikaday" target="_blank">Pikaday datepicker</a> as
      the UI control. Pikaday uses <a href="https://github.com/moment/moment" target="_blank">Moment.js</a> as a date formatter.
    <p>Note that Date cell requires additional files in your <code>&lt;head&gt;</code> :
    <ul>
      <li><code>/dist/moment/moment.js</code></li>
      <li><code>/dist/pikaday/pikaday.js</code></li>
      <li><code>/dist/pikaday/css/pikaday.css</code></li>
    </ul>
    <p>All data entered to the data-typed cells are validated agains the default date format (<code><a
      href="http://momentjs.com/docs/#/parsing/" target="_blank"
      title="Click here to find how to use different date format">DD/MM/YYYY</a></code>), unless another
      format is provided. If you enable the <code>correctFormat</code> config item, the dates will be automatically formatted to
      match the desired format.</p>

    <div  data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById('example1'),
          hot;

        hot = new Handsontable(container, {
          data: getCarData(),
          colHeaders: ['Car', 'Model', 'Registration date', 'Price'],
          columns: [
            {
              type: 'autocomplete',
              source: ['Audi', 'BMW', 'Chrysler', 'Citroen', 'Mercedes', 'Nissan', 'Opel', 'Suzuki', 'Toyota', 'Volvo'],
              strict: false
            },
            {
              // 2nd cell is simple text, no special options here
            },
            {
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
              defaultDate: '01/01/1900'
            },
            {
              type: 'numeric',
              format: '$ 0,0.00'
            }
          ]
        });

      </script>
    </div>
  </div>
</div>

