<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/drag-down.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Notice the little square (<strong>fill handle</strong>) in the corner of the selected cell. You can drag it
      (drag-down) to repeat the values from the cell. Double click the fill handle in cell B4 (value "30")
      to fill the selection down to the last value in neighbouring column, just like it would in LibreOffice or Google Docs.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          data = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda'],
            ['2012', 10, 11, 12, 13],
            ['2013', 20, 11, 14, 13],
            ['2014', 30, 15, 12, 13],
            ['2015', '', '', '', ''],
            ['2016', '', '', '', '']
          ],
          container = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(container, {
          rowHeaders: true,
          colHeaders: true,
          fillHandle: true // possible values: true, false, "horizontal", "vertical"
        });
        hot1.loadData(data);
      </script>

    </div>
  </div>
</div>

