<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        ["Nissan", 2012, "black", "black"],
        ["Nissan", 2013, "blue", "blue"],
        ["Chrysler", 2014, "yellow", "black"],
        ["Volvo", 2015, "white", "gray"]
      ];
    }
  </script>

  <div class="example-container clearfix">

    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/dropdown.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>This example shows the usage of the Dropdown feature. Dropdown is based on <a href="/<?js= version ?>/demo-autocomplete.html">Autocomplete</a> cell type.
      All options used by <code>autocomplete</code> cell type apply to <code>dropdown</code> as well.</p>
    <p>Internally, cell <code>{type: "dropdown"}</code> is equivalent to cell <code>{type: "autocomplete", strict:
      true, filter: false}</code>. Therefore you can think of <code>dropdown</code> as a searchable <code>&lt;select&gt;</code>.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById('example1'),
          hot;

        hot = new Handsontable(container, {
          data: getCarData(),
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
          columns: [
            {},
            {type: 'numeric'},
            {
              type: 'dropdown',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white']
            },
            {
              type: 'dropdown',
              source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white']
            }
          ]
        });
      </script>
    </div>
  </div>
</div>
