<div class="static-content">
<a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/features.html" class="edit-doc" target="_blank">
  Edit on GitHub
</a>
  <p>Handsontable comprises of the core engine and functional plugins. You can find a complete list of them below:</p>
  <table class="static-data">
    <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <th>Demo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell feature</td>
        <td>Drag-down</td>
        <td>Select and drag the fill handle (small square in the bottom right corner of the cell) across or down to fill more
          cells with data series
        </td>
        <td><a href="/<?js= version ?>/demo-drag-down.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell feature</td>
        <td>Merge cells</td>
        <td>Display cells across multiple rows or columns</td>
        <td><a href="/<?js= version ?>/demo-merge-cells.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell feature</td>
        <td>Alignment</td>
        <td>Decide where the content is placed within the cell or a range of cells</td>
        <td><a href="/<?js= version ?>/demo-alignment.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell feature</td>
        <td>Read-only</td>
        <td>Lock the cell or a range of cells to disallow altering them</td>
        <td><a href="/<?js= version ?>/demo-read-only.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell feature</td>
        <td>Disable cell editing</td>
        <td>Make cell non-editable without changing its appearance and behaviour</td>
        <td><a href="/<?js= version ?>/demo-disable-cell-editing.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Custom HTML</td>
        <td>Display HTML content in a cell or header</td>
        <td><a href="/<?js= version ?>/demo-custom-renderers.html#cell">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Numeric</td>
        <td>Type a custom number format in a cell</td>
        <td><a href="/<?js= version ?>/demo-numeric.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Date</td>
        <td>Use a date picker to select a date</td>
        <td><a href="/<?js= version ?>/demo-date.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Checkbox</td>
        <td>Add a checkbox to a cell to indicate binary choices</td>
        <td><a href="/<?js= version ?>/demo-checkbox.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Select</td>
        <td>Create a simple dropdown list of choices in a cell</td>
        <td><a href="/<?js= version ?>/demo-select.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Dropdown</td>
        <td>Create an advanced dropdown list of choices in a cell</td>
        <td><a href="/<?js= version ?>/demo-dropdown.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Autocomplete</td>
        <td>Choose one of the suggested options while typing or entering a custom value</td>
        <td><a href="/<?js= version ?>/demo-autocomplete.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Password</td>
        <td>Use asterisks to mask the value in a cell</td>
        <td><a href="/<?js= version ?>/demo-password.html">Demo</a></td>
      </tr>
      <tr>
        <td>Cell type</td>
        <td>Handsontable</td>
        <td>Use Handsontable itself as a custom cell editor</td>
        <td><a href="/<?js= version ?>/demo-handsontable.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Fixed rows and columns</td>
        <td>Define which rows or columns are visible while scrolling down or across the table</td>
        <td><a href="/<?js= version ?>/demo-fixed-rows-and-columns.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Scrollbars</td>
        <td>Use native scrollbars to navigate within the table</td>
        <td><a href="/<?js= version ?>/demo-scrollbars.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Highlighting rows or columns</td>
        <td>Indicate the entire active column or row</td>
        <td><a href="/<?js= version ?>/demo-highlighting-current.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Stretching</td>
        <td>Allow columns to the parent container width</td>
        <td><a href="/<?js= version ?>/demo-stretching.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Grouping</td>
        <td>Show or hide different sections of the table</td>
        <td><a href="/<?js= version ?>/demo-grouping-and-ungrouping.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Resizing</td>
        <td>Drag the sizing handle to change the size of column or row</td>
        <td><a href="/<?js= version ?>/demo-resizing.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Freezing</td>
        <td>Create freeze columns to keep them visible while scrolling</td>
        <td><a href="/<?js= version ?>/demo-freezing.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Moving</td>
        <td>Drag rows or columns to swap them within the table</td>
        <td><a href="/<?js= version ?>/demo-moving-rows-and-columns.html">Demo</a></td>
      </tr>
      <tr>
        <td>Rows and columns</td>
        <td>Pre-populating new rows</td>
        <td>Create empty cells with predefined types or values</td>
        <td><a href="/<?js= version ?>/demo-pre-populating-new-rows.html">Demo</a></td>
      </tr>
      <tr>
        <td>Validation</td>
        <td>Data validation</td>
        <td>Control what values can be entered into a cell</td>
        <td><a href="/<?js= version ?>/demo-data-validation.html">Demo</a></td>
      </tr>
      <tr>
        <td>Navigation</td>
        <td>Pagination</td>
        <td>Limited number of records displayed in a single view</td>
        <td><a href="/<?js= version ?>/demo-pagination.html">Demo</a></td>
      </tr>
      <tr>
        <td>Navigation</td>
        <td>Search for values</td>
        <td>Search through the content with the search field</td>
        <td><a href="/<?js= version ?>/demo-search-for-values.html">Demo</a></td>
      </tr>
      <tr>
        <td>Sorting</td>
        <td>Sorting data</td>
        <td>Sort data in ascending or descending order throughout the column</td>
        <td><a href="/<?js= version ?>/demo-sorting-data.html">Demo</a></td>
      </tr>
      <tr>
        <td>Appearance</td>
        <td>Conditional formatting</td>
        <td>Define how specific cells are formatted depending on their values</td>
        <td><a href="/<?js= version ?>/demo-conditional-formatting.html">Demo</a></td>
      </tr>
      <tr>
        <td>Appearance</td>
        <td>Custom borders</td>
        <td>Apply custom border style around cells or range of cells</td>
        <td><a href="/<?js= version ?>/demo-custom-borders.html">Demo</a></td>
      </tr>
      <tr>
        <td>Calculation</td>
        <td>Formula support</td>
        <td>Use functions to calculate numerical information within a cell or range of cells</td>
        <td><a href="/<?js= version ?>/demo-formula-support.html">Demo</a></td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td>Mobiles and tablets</td>
        <td>Display and edit data on mobile phones and tablets</td>
        <td><a href="/<?js= version ?>/demo-mobiles-and-tablets.html">Demo</a></td>
      </tr>
      <tr>
        <td>Utility</td>
        <td>Context menu</td>
        <td>Invoke a shortcut menu to choose an action related to the selected object</td>
        <td><a href="/<?js= version ?>/demo-context-menu.html">Demo</a></td>
      </tr>
      <tr>
        <td>Utility</td>
        <td>Custom buttons</td>
        <td>Insert and remove column or row using custom action buttons</td>
        <td><a href="/<?js= version ?>/demo-custom-buttons.html">Demo</a></td>
      </tr>
      <tr>
        <td>Utility</td>
        <td>Comments</td>
        <td>Provide an additional note about the cell to help better understand its content</td>
        <td><a href="/<?js= version ?>/demo-comments.html">Demo</a></td>
      </tr>
      <tr>
        <td>Integration</td>
        <td>jQuery</td>
        <td>Full compatibility with jQuery</td>
        <td><a href="/<?js= version ?>/demo-jquery.html">Demo</a></td>
      </tr>
      <tr>
        <td>Integration</td>
        <td>gRaphaël charts</td>
        <td>Create data visualization using gRaphaël charts</td>
        <td><a href="/<?js= version ?>/demo-graphael-charts.html">Demo</a></td>
      </tr>
      <tr>
        <td>Integration</td>
        <td>Chroma.js</td>
        <td>Create a heatmap for the values in the table</td>
        <td><a href="/<?js= version ?>/demo-chromajs.html">Demo</a></td>
      </tr>
      <tr>
        <td>Integration</td>
        <td>Bootstrap</td>
        <td>Apply Bootstrap's styles into Handsontable</td>
        <td><a href="/<?js= version ?>/demo-bootstrap.html">Demo</a></td>
      </tr>
      <tr>
        <td>Integration</td>
        <td>Backbone.js</td>
        <td>See how Backbone's models and collections can work with Handsontable</td>
        <td><a href="/<?js= version ?>/demo-backbonejs.html">Demo</a></td>
      </tr>
    </tbody>
  </table>
</div>
