<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/fixed-rows-and-columns.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Specify two fixed rows with <code>fixedRowsTop: 2</code> and two fixed columns with <code>fixedColumnsLeft:
      2</code> option.</p>
    <p><strong>Note:</strong> You'll need horizontal scrollbars, so just set a container <code>width</code> and <code>overflow:
      hidden</code> in CSS.</p>

    <strong id="positions"></strong>

    <div data-jsfiddle="example1" class="scroll-container fixed-container">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          myData = Handsontable.helper.createSpreadsheetData(100, 50),
          container = document.getElementById('example1'),
          positions = document.getElementById('positions'),
          hot;

        hot = new Handsontable(container, {
          data: myData,
          colWidths: [47, 47, 47, 47, 47, 47, 47, 47, 47, 47],
          rowHeaders: true,
          colHeaders: true,
          fixedRowsTop: 2,
          fixedColumnsLeft: 2
        });

        setInterval(function () {
          var str = '';

          str += 'RowOffset: ' + hot.rowOffset();

          positions.innerHTML = str;
        }, 100);
      </script>
    </div>
  </div>
</div>

