<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/formula-support.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <div data-alert class="alert-box secondary">
      <strong>This part of documentation is still in development. If you'd like to contribute to this page,
      <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/formula-support.html" target="_blank">
      enhance it on GitHub.</a></strong>
      <a href="#" class="close">&times;</a>
    </div>
    <p>A formula parser for Handsontable is based on RuleJS library which takes most of functions from
      <a href="https://github.com/sutoiku/formula.js/" target="_blank">Formula.js</a>.</p>
    <p><strong>Find the list of features below:</strong></p>
    <ul>
      <li>math functions: <code>+</code> <code>-</code> <code>*</code> <code>/</code> <code>^</code></li>
      <li>logical functions: <code>=</code> <code>&gt;</code> <code>&lt;</code> <code>&gt;=</code> <code>&lt;=</code> <code>&lt;&gt;</code> <code>NOT</code></li>
      <li>error handling: <code>#DIV/0!</code> <code>#ERROR</code> <code>#VALUE!</code> <code>#REF!</code> <code>#NAME?</code> <code>#N/A</code></li>
      <li>parser for formulas (<a href="http://handsontable.github.io/ruleJS/">list of supported formulas</a>)</li>
      <li>absolute cell references: <code>$A$1</code> <code>$A1</code> <code>A$1</code></li>
      <li>nested functions</li>
      <li>basic auto-fill</li>
      <li>dynamic updates</li>
    </ul>
    <p><a href="http://handsontable.github.io/handsontable-ruleJS" target="_blank">Go to demo</a> to see it live</p>
  </div>
</div>

