<div class="static-content">
  <script src="/<?js= version ?>/bower_components/raphael/raphael-min.js" data-jsfiddle="common"></script>
  <script src="/<?js= version ?>/scripts/graphael-demo/g.raphael-min.js" data-jsfiddle="common"></script>
  <script src="/<?js= version ?>/scripts/graphael-demo/g.bar-min.js" data-jsfiddle="common"></script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/graphael-charts.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>The following demo shows an example of data visualisation using <a href="http://g.raphaeljs.com/"
      target="_blank">gRaphaël's</a> bar charts.</p>
    <ul>
      <li>Choosing any of the <em>Aggregate</em> buttons changes the currently used column</li>
      <li>Editing data in the grid automatically refreshes the chart with updated values.</li>
    </ul>

    <div data-jsfiddle="example1" class="part-left-container clearfix">
      <div id="example1" class="hot"></div>
      <div id="graphael-example" data-jsfiddle="external-example">

      </div>
      <div class="aggregation" >
        <p>Aggreagate by:</p>
        <div class="aggregate-btn">
          <button data-aggregate="0" title="Aggregates the Cars column" class="intext-btn">Cars</button>
          <button data-aggregate="1" title="Aggregates the Years column" class="intext-btn">Years</button>
          <button data-aggregate="2" title="Aggregates the Colors column" class="intext-btn">Colors</button>
        </div>
      </div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          data = [
            ['Nissan', 2009, 'black'],
            ['Nissan', 2006, 'blue'],
            ['Chrysler', 2004, 'yellow'],
            ['Volvo', 2012, 'white'],
            ['Nissan', 2006, 'blue'],
            ['Chevrolet', 2004, 'yellow'],
            ['Volvo', 2012, "red"],
            ['Ford', 2006, 'yellow'],
            ['Chevrolet', 2004, 'yellow'],
            ['Ford', 2012, 'yellow']
          ],
          container = document.getElementById('example1'),
          r = Raphael('graphael-example', 250, 250),
          chartData = [],
          activeColumn = 0,
          lastChange = null,
          hot;

        hot = new Handsontable(container, {
          data: data,
          width: 250,
          colHeaders: ['Car', 'Year', 'Color'],
          rowHeaders: true,
          afterChange: refreshChart
        });
        chartData = [
          gatherColData(0),
          gatherColData(1),
          gatherColData(2)
        ];
        renderChart();

        function fin() {
          var pathElements = document.querySelectorAll('path');
          var label = chartData[activeColumn].labels[Array.prototype.indexOf.call(pathElements, this.bar[0])];

          this.flag = r.popup(this.bar.x, this.bar.y, label + " - " + this.bar.value || '0').insertBefore(this);
        }

        function fout() {
          this.flag.animate({opacity: 0}, 300, function () {
            this.remove();
          });
        }

        function refreshChart(changes, source) {
          if (source != 'loadData') {
            chartData[changes[0][1]] = gatherColData(changes[0][1]);
            activeColumn = changes[0][1];

            renderChart();
          }
        }

        function renderChart() {
          var button = document.querySelector(".aggregation button[data-aggregate='" + activeColumn + "']");
          r.clear();
          r.text(125, 25, 'Aggregated by ' + button.innerHTML).attr({ font: "20px sans-serif" });
          r.barchart(10, 75, 220, 200, [chartData[activeColumn].values]).hover(fin, fout);
        }

        function gatherColData(colNum) {
          var data = hot.getDataAtCol(colNum),
              chartData = {labels: [], values: []},
              entryIndex = -1,
              labelsSize;

          for (var i = 0; i < data.length; i++) {
            entryIndex = chartData.labels.indexOf(data[i]);

            if (entryIndex != -1) {
              chartData.values[entryIndex]++;
            } else {
              labelsSize = chartData.labels.length;
              chartData.labels[labelsSize] = data[i];
              chartData.values[labelsSize] = 1;
            }
          }

          return chartData;
        }

        var aggregationButtons = document.querySelectorAll('.aggregation button');
        for(var i = 0, buttonCount = aggregationButtons.length; i < buttonCount; i++) {
          aggregationButtons[i].addEventListener('mousedown', function (event) {
            activeColumn = event.target.getAttribute('data-aggregate');
            renderChart();
          });
        }

      </script>
    </div>
  </div>
</div>

