<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/grouping-and-ungrouping.html"
       class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>To enable this feature, use settings <code>groups: true</code></p>
    <p>It's also possible to define groups as a array<code>groups:[]</code></p>

    <div data-jsfiddle="example1" class="scroll-container">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          example1 = document.getElementById('example1'),
          settings,
          hot;

        settings = {
          data: Handsontable.helper.createSpreadsheetData(200, 20),
          rowHeaders: true,
          colHeaders: true,
          groups: [
            {
              cols: [0, 2]
            },
            {
              cols: [3, 7]
            },
            {
              cols: [5, 7]
            },
            {
              rows: [0, 4]
            },
            {
              rows: [5, 7]
            },
            {
              rows: [2, 4]
            }
          ]
        };
        hot = new Handsontable(example1, settings);
      </script>
    </div>
  </div>
</div>

