<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        ["Nissan", 2013, "black", "black"],
        ["Nissan", 2014, "blue", "blue"],
        ["Chrysler", 2015, "yellow", "black"],
        ["Volvo", 2016, "white", "gray"]
      ];
    }
  </script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/handsontable.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>This page shows using Handsontable as a cell editor in Handsontable (sometimes
      referred as <strong>HOT-in-HOT</strong>).</p>
    <p><strong>HOT-in-HOT opens by any of the following:</strong></p>
    <ul>
      <li><kbd>F2</kbd> or <kbd>ENTER</kbd> key is pressed while the cell is selected,</li>
      <li>the triangle icon is clicked,</li>
      <li>the cell content is double clicked.</li>
    </ul>
    <p>While HOT-in-HOT is opened, the text field above the HOT-in-HOT remains focused at all times.</p>
    <p><strong>Keyboard bindings while the HOT-in-HOT is opened:</strong></p>
    <ul>
      <li><kbd>ESC</kbd> - close editor (cancel change),</li>
      <li><kbd>ENTER</kbd> - close editor (apply change*), move the selection in the main HOT downwards (or according to <code>enterMoves</code> setting),</li>
      <li><kbd>TAB</kbd> - behave as the ENTER key, but move the selection in the main HOT to the right (or according to <code>tabMoves</code> setting),</li>
      <li><kbd>Arrow down</kbd> - move the selection in HOT-in-HOT downwards. If the last row was selected, has no effect,</li>
      <li><kbd>Arrow up</kbd> - move the selection in HOT-in-HOT upwards. If the first row was selected, deselect. If HOT-in-HOT was deselected, behave as the ENTER key but move the selection in the main HOT upwards,</li>
      <li><kbd>Arrow right</kbd> - move the text cursor in the text field to the left. If the text cursor was at the start position, behave as the ENTER key but move the selection in the main HOT to the left,</li>
      <li><kbd>Arrow left</kbd> - move the text cursor in the text field to the right. If the text cursor was at the end position, behave as the TAB key.</li>
    </ul>
    <p>Mouse click outside of the editor or on one of the cells in HOT-in-HOT applies change.</p>
    <p><strong>*apply change</strong> means: The value of the cell highlighted or clicked in HOT-in-HOT is applied as new cell value in the main HOT. If no cell in HOT-in-HOT is selected, the value of the text field is used instead.</p>

    <div  data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          carData = getCarData(),
          container = document.getElementById('example1'),
          manufacturerData,
          colors,
          color,
          colorData = [],
          hot;

        manufacturerData = [
          {name: 'BMW', country: 'Germany', owner: 'Bayerische Motoren Werke AG'},
          {name: 'Chrysler', country: 'USA', owner: 'Chrysler Group LLC'},
          {name: 'Nissan', country: 'Japan', owner: 'Nissan Motor Company Ltd'},
          {name: 'Suzuki', country: 'Japan', owner: 'Suzuki Motor Corporation'},
          {name: 'Toyota', country: 'Japan', owner: 'Toyota Motor Corporation'},
          {name: 'Volvo', country: 'Sweden', owner: 'Zhejiang Geely Holding Group'}
        ];
        colors = ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white'];

        while (color = colors.shift()) {
          colorData.push([
            [color]
          ]);
        }

        hot = new Handsontable(container, {
          data: carData,
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
          columns: [
            {
              type: 'handsontable',
              handsontable: {
                colHeaders: ['Marque', 'Country', 'Parent company'],
                data: manufacturerData
              }
            },
            {type: 'numeric'},
            {
              type: 'handsontable',
              handsontable: {
                colHeaders: false,
                data: colorData
              }
            },
            {
              type: 'handsontable',
              handsontable: {
                colHeaders: false,
                data: colorData
              }
            }
          ]
        });
      </script>
    </div>
  </div>
</div>

