<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        ["Nissan", 2012, "black", "black"],
        ["Nissan", 2013, "blue", "blue"],
        ["Chrysler", 2014, "yellow", "black"],
        ["Volvo", 2015, "white", "gray"]
      ];
    }
  </script>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/highlighting-current.html"
       class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Use options <code>currentRowClassName</code> and <code>currentColumnClassName</code></p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <style data-jsfiddle="common">
        .currentRow {
          background-color: #F9F9FB !important;
        }
        .currentCol {
          background-color: #E7E8EF !important;
        }
      </style>
      <script data-jsfiddle="example1">
        var
          data = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda'],
            ['2013', 10, 11, 12, 13],
            ['2014', 20, 11, 14, 13],
            ['2015', 30, 15, 12, 13]
          ],
          container = document.getElementById('example1'),
          hot;

        hot = Handsontable(container, {
          data: data,
          minRows: 5,
          minCols: 6,
          currentRowClassName: 'currentRow',
          currentColClassName: 'currentCol',
          rowHeaders: true,
          colHeaders: true
        });

        hot.selectCell(2,2);
      </script>
    </div>
  </div>
</div>

