<div class="static-content">

  <div class="index-list">
    <p>On this page:</p>
    <ul>
      <li><a href="#page-nav">Navigation</a></li>
      <li><a href="#page-select">Selection</a></li>
      <li><a href="#page-edit">Editor</a></li>
      <li><a href="#page-menu">Context menu</a></li>
      <li><a href="#page-cells">Merge cells</a></li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/keyboard-shortcuts.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-nav">Navigation</h3>
    <ul>
      <li><kbd>Arrow Up &uarr;</kbd>    – move to the cell above current active cell (if exists)</li>
      <li><kbd>Arrow Down &darr;</kbd>  – move to cell underneath current active cell (if exists)</li>
      <li><kbd>Arrow Right &rarr;</kbd> – move to the cell on the right side of the current active cell (if exists)</li>
      <li><kbd>Arrow Left &larr;</kbd>  – move to the cell on the left side of current active cell (if exists)</li>
      <li><kbd>Tab</kbd>         – move to the cell on the right side of the current active cell (if exists)</li>
      <li><kbd>Tab</kbd> + <kbd>Shift</kbd> – move to the cell on the left side of current active cell (if exists)</li>
      <li><kbd>Home</kbd> – move to the first cell in a row</li>
      <li><kbd>End</kbd> – move to the last cell in a row</li>
      <li><kbd>Ctrl</kbd> + <kbd>Home</kbd> – move to the first cell in a column</li>
      <li><kbd>Ctrl</kbd> + <kbd>End</kbd> – move to the last cell in a column</li>
    </ul>
  </div>
  <div class="example-container clearfix head-gap">
    <h3 id="page-select">Selection</h3>
    <ul>
      <li><kbd>Ctrl</kbd> + <kbd>A</kbd> – select all</li>
      <li><kbd>Shift</kbd> + <kbd>Arrow Up &uarr;</kbd> – extend selection of the cell above</li>
      <li><kbd>Shift</kbd> + <kbd>Arrow Down &darr;</kbd> – extend selection of the cell underneath</li>
      <li><kbd>Shift</kbd> + <kbd>Arrow Right &rarr;</kbd> – extend selection of the cell on the right</li>
      <li><kbd>Shift</kbd> + <kbd>Arrow Left &larr;</kbd> – extend selection of the cell on the left</li>
      <li><kbd>Shift</kbd> + <kbd>Home</kbd> – select all cells in the row to the right including the current cell</li>
      <li><kbd>Shift</kbd> + <kbd>End</kbd> – select all cells in the row to the left including the current cell</li>
      <li><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Home</kbd> – select all cells in the column to the top including the current cell</li>
      <li><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>End</kbd> – select all cells in the column to the bottom including the current cell</li>
    </ul>
  </div>
  <div class="example-container clearfix head-gap">
    <h3 id="page-edit">Editor</h3>
    <ul>
      <li><kbd>Enter</kbd> – open/close cell editor</li>
      <li><kbd>F2</kbd> – open cell editor</li>
      <li><kbd>Esc</kbd> – cancel editing and close cell editor</li>
      <li><kbd>Backspace</kbd> – empty cell</li>
      <li><kbd>Delete</kbd> – empty cell</li>
      <li><kbd>Ctrl</kbd> + <kbd>C</kbd> – copy cell&#39;s content</li>
      <li><kbd>Ctrl</kbd> + <kbd>X</kbd> – cut cell&#39;s content</li>
      <li><kbd>Ctrl</kbd> + <kbd>V</kbd> – pastle cell&#39;s content</li>
      <li><kbd>Ctrl</kbd> + <kbd>Enter</kbd> - fill all selected cells with edited cell&#39;s value</li>
      <li><kbd>Ctrl</kbd> + <kbd>Z</kbd> – undo</li>
      <li><kbd>Ctrl</kbd> + <kbd>Y</kbd> – redo</li>
    </ul>
  </div>
  <div class="example-container clearfix head-gap">
    <h3 id="page-menu">Context menu</h3>
    <ul>
      <li><kbd>Arrow Down &darr;</kbd> – move to the next option in context menu</li>
      <li><kbd>Arrow Up &uarr;</kbd> – move to the previous option in context menu</li>
      <li><kbd>Enter</kbd> – select option from context menu</li>
    </ul>
  </div>
  <div class="example-container clearfix head-gap">
    <h3 id="page-cells">Merge cells</h3>
    <ul>
      <li><kbd>Ctrl</kbd> + <kbd>M</kbd> – merge/unmerge selected cells</li>
    </ul>
  </div>
</div>
