<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/mobiles-and-tablets.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <div data-alert class="alert-box secondary">
      <strong>This part of documentation is still in development. If you'd like to contribute to this page,
        <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/mobiles-and-tablets.html" target="_blank">
          enhance it on GitHub.</a></strong>
      <a href="#" class="close">&times;</a>
    </div>
    <p>Currently Handsontable supports only iPad 4 in a basic scope.
      Mobile editor and selecting modes are enabled automatically if you're viewing Handsontable on a mobile device.</p>
    <p><strong>Open this page on iPad 4 and play with the demo below:</strong></p>

    <div data-jsfiddle="example1" class="scroll-container ipad-container fixed-container">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById('example1'),
          hot;

        hot = new Handsontable(container, {
          data: Handsontable.helper.createSpreadsheetData(100, 100),
          rowHeaders: true,
          colHeaders: true,
          fixedRowsTop: 2,
          fixedColumnsLeft: 2
        });
      </script>
    </div>
  </div>
</div>

