<div class="static-content">
  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/overview.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>The material in this section is to provide you with comprehensive knowledge on different parts of Handsontable and its
      dependencies in a structured manner. We keep this documentation simple and unequivocal for those with moderate
      experience in development for whom the learning curve may be a bit steep. Every chapter comes with a corresponding
      example and a piece of code depicting any given aspect of building upon already existing code.</p>
    <p>From the conceptual point of view this library is not a finished product. We have put a lot of work into keeping this
      well maintained but if you experience rough edges, just
      <a href="https://github.com/handsontable/handsontable/issues/new" target="_blank">open a new GitHub issue</a> about it.</p>
    <p>To begin hacking on Handsontable start from the <a href="/<?js= version ?>/tutorial-data-binding.html">Data binding</a> section
      which explains nuances of connecting Handsontable to any data source of your choice.</p>

    <h3>Mobile Apps</h3>
    <p>As for the current version (v<?js= version ?>), Handsontable is not a mobile-friendly component.
      Despite the fact that basic functionality works fine with iPad 4, it's still experimental distribution.
      We aim to make Handsontable much more responsive as soon as possible.</p>

    <h3>Become proficient and contribute</h3>
    <p>If your project requires deep customization of Handsontable you may be interested in learning more about the
      rendering engine, performance issues and testing procedures. It would be great to incorporate your changes into
      the next official version of Handsontable so if you are willing to contribute to this project don't forget to make pull
      requests. Read more about <a href="/<?js= version ?>/tutorial-contributing.html">contributing principles</a>.</p>

    <h3>Future versions</h3>
    <p>To see the the rough plan for the upcoming releases, see our
      <a href="https://github.com/handsontable/handsontable/milestones" target="_blank">Milestones on GitHub</a> or
      <a href="https://trello.com/b/wMvdMvow/handsontable-roadmap-2015" target="_blank">Roadmap on Trello</a></p>
  </div>
</div>
