<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        {id: 1, name: {first: "Chris", last: "Right"}, password: "plainTextPassword"},
        {id: 2, name: {first: "John", last: "Honest"}, password: "txt"},
        {id: 3, name: {first: "Greg", last: "Well"}, password: "longer"}
      ];
    }
  </script>

  <div class="index-list">
    <p>On this page:</p>
    <ul>
      <li><a href="#type">Password cell type</a></li>
      <li><a href="#length">Fixed hash length</a></li>
      <li><a href="#symbol">Custom hash symbol</a></li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/password.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="type">Password cell type</h3>
    <p>This kind of cell behaves like a text cell with a difference that it masks it's value using asterisk in cell renderer.
      For the cell editor, a <code>&lt;input type="password"&gt;</code> field is used. Data is stored in the data source as plain text.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          example1 = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(example1, {
          data: getCarData(),
          colHeaders: ['ID', 'First name', 'Last name', 'Password'],
          columns: [
            {data: 'id'},
            {data: 'name.first'},
            {data: 'name.last'},
            {data: 'password', type: 'password'}
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap">
    <h3 id="length">Fixed hash length</h3>
    <p>By default every hash has length equal to the length of value that
      it corresponds with. Use option <code>hashLength</code> to set fixed hash length.</p>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var example2 = document.getElementById('example2'),
          hot2;

        hot2 = new Handsontable(example2, {
          data: getCarData(),
          colHeaders: ['ID', 'First name', 'Last name', 'Password'],
          columns: [
            {data: 'id'},
            {data: 'name.first'},
            {data: 'name.last'},
            {data: 'password', type: 'password', hashLength: 10}
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap">
    <h3 id="symbol">Custom hash symbol</h3>
    <p>By default every hash consists of asterisks <code>*</code>. Use option <code>hashSymbol</code>
      to set custom hash symbol. You can use any character, entity or event HTML. Note that you can't
      change symbol used by the input field due to browsers limitations.</p>

    <div data-jsfiddle="example3">
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example3">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example3">
        var example3 = document.getElementById('example3'),
          hot3;

        hot1 = new Handsontable(example3, {
          data: getCarData(),
          colHeaders: ['ID', 'First name', 'Last name', 'Password'],
          columns: [
            {data: 'id'},
            {data: 'name.first'},
            {data: 'name.last'},
            {data: 'password', type: 'password', hashSymbol: '&#9632;'}
          ]
        });
      </script>
    </div>
  </div>
</div>
