<div class="static-content">

  <div class="index-list">
    <p>On this page:</p>
    <ul>
      <li><a href="#page-javascript">Optimizing JavaScript</a></li>
      <li><a href="#page-dom">Optimizing DOM</a></li>
      <li><a href="#page-css">Optimizing CSS</a></li>
      <li><a href="#page-sources">Sources</a></li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/performance-tips.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-javascript">Optimizing JavaScript</h3>
    <ul>
      <li>
        <p><strong>Converting numbers: always use <code>parseInt(num, 10)</code></strong></p>
        <p>Convert <code>"16"</code> to number: <a href="http://jsperf.com/number-vs-parseint-vs-plus/26" target="_blank">
          http://jsperf.com/number-vs-parseint-vs-plus/26</a></p>
        <p>Convert <code>"16px"</code> to number: <a href="http://jsperf.com/number-vs-parseint-vs-plus/25" target="_blank">
          http://jsperf.com/number-vs-parseint-vs-plus/25</a></p>
      </li>
      <li>
        <p><strong>Cascading configuration options: use <code>prototype</code> rather than <code>$.extend</code></strong></p>
        <p>This technique cannot be applied everywhere, but is a great candidate for
          Handsontable cascading settings pattern
          (Constructor <code>options</code> -> <code>columns</code> -> <code>cells</code> -> <code>cellProperties</code>).</p>
        <p>See more: <a href="http://jsperf.com/extending-settings" target="_blank">http://jsperf.com/extending-settings</a></p>
      </li>
      <li>
        <p><strong>Custom functions can be faster than native (for example <code>forEach</code>)</strong></p>
        <p>According to tests ran at JSPerf, MDN shim of <code>forEach</code> can be up to 5 times faster
          than the native implementation.</p>
        <p>See more: <a href="http://jsperf.com/native-vs-implmented-0/5" target="_blank">
          http://jsperf.com/native-vs-implmented-0/5</a></p>
      </li>
      <li>
        <p><strong><code>forEach</code> and <code>filter</code> are MUCH slower than <code>for</code></strong></p>
        <p><code>for</code> can be 10 times faster than a <code>forEach</code>.</p>
        <p>See more: <a href="http://jsperf.com/for-vs-foreach/49" target="_blank">http://jsperf.com/for-vs-foreach/49</a></p>
      </li>
      <li>
        <p><strong><code>call</code> is faster than <code>apply</code></strong></p>
        <p>See more: <a href="http://jsperf.com/function-calls-direct-vs-apply-vs-call-vs-bind/33" target="_blank">
          http://jsperf.com/function-calls-direct-vs-apply-vs-call-vs-bind/33</a></p>
      </li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <h3 id="page-dom">Optimizing DOM</h3>
    <ul>
      <li>
        <p><strong>Emptying nodes: always prefer <code>removeNode()</code> over
          <code>innerHTML = ''</code></strong></p>
        <p>See more: <a href="http://jsperf.com/jquery-html-vs-empty-vs-innerhtml/9" target="_blank">
          http://jsperf.com/jquery-html-vs-empty-vs-innerhtml/9</a></p>
      </li>
      <li>
        <p><strong>Search for ID or by tag: prefer <code>getElementById</code> or
          <code>getElementsByTagName</code></strong></p></li>
        <p>See more: <a href="http://jsperf.com/id-vs-getelementbyid/3" target="_blank">
          http://jsperf.com/id-vs-getelementbyid/3</a></p>
      <li>
        <p><strong>Get first element using DOM (<code>getElementsByTagName('span')[0]</code> or
          <code>firstChild</code>)</strong></p></li>
        <p>See more: <a href="http://jsperf.com/jquery-first-vs-first2/10" target="_blank">
          http://jsperf.com/jquery-first-vs-first2/10</a></p>
      <li>
        <p><strong>Create text elements: <code>createTextNode</code> can be many times
          faster than <code>innerHTML</code></strong></p></li>
        <p>See more: <a href="http://jsperf.com/creating-text-node/3" target="_blank">
          http://jsperf.com/creating-text-node/3</a></p>
      <li>
        <p><strong>Check if element has child nodes: <code>if (DIV.firstChild)</code></strong></p></li>
        <p>See more: <a href="http://jsperf.com/empty-node-if-needed" target="_blank">
          http://jsperf.com/empty-node-if-needed</a></p>
    </ul>
  </div>

  <div class="example-container clearfix">
    <h3 id="page-css">Optimizing CSS</h3>
    <ul>
      <li>
        <p><strong>Change style by caching <code>var style = element.style</code></strong></p>
        <p>See more: <a href="http://jsperf.com/change-css-in-many-ways" target="_blank">
          http://jsperf.com/change-css-in-many-ways</a></p>
      </li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <h3 id="page-sources">Sources</h3>
    <ul>
      <li><a href="https://github.com/handsontable/performance-lab" target="_blank">
        JavaScript performance tests for Handsontable</a></li>
      <li><a href="http://jankfree.com" target="_blank">
        Let's make the web jank-free</a></li>
      <li><a href="http://www.html5rocks.com/en/tutorials/speed/scrolling" target="_blank">
        Scrolling Performance</a></li>
      <li><a href="http://updates.html5rocks.com/2013/02/Profiling-Long-Paint-Times-with-DevTools-Continuous-Painting-Mode" target="_blank">
        Profiling Long Paint Times with DevTools' Continuous Painting Mode</a></li>
      <li><a href="http://superherojs.com" target="_blank">
        SuperheroJS</a></li>
      <li><a href="http://www.smashingmagazine.com/2013/06/10/pinterest-paint-performance-case-study" target="_blank">
        Gone In 60 Frames Per Second: A Pinterest Paint Performance Case Study</a></li>
      <li><a href="http://www.html5rocks.com/en/tutorials/memory/effectivemanagement" target="_blank">
        Effectively Managing Memory at Gmail scale</a></li>
    </ul>
  </div>
</div>
