<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/pre-populating-new-rows.html"
       class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Below example shows how cell renderers can be used to present the template values for empty rows.
      When any cell in the empty row is edited, the <strong>onChange</strong> callback fills the row with the template values.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          tpl = ['one', 'two', 'three'],
          data = [
            ['', 'Kia', 'Nissan', 'Toyota', 'Honda'],
            ['2014', 10, 11, 12, 13],
            ['2015', 20, 11, 14, 13],
            ['2016', 30, 15, 12, 13]
          ],
          container = document.getElementById('example1'),
          hot1;

        function isEmptyRow(instance, row) {
          var rowData = instance.getData()[row];

          for (var i = 0, ilen = rowData.length; i < ilen; i++) {
            if (rowData[i] !== null) {
              return false;
            }
          }

          return true;
        }

        function defaultValueRenderer(instance, td, row, col, prop, value, cellProperties) {
          var args = arguments;

          if (args[5] === null && isEmptyRow(instance, row)) {
            args[5] = tpl[col];
            td.style.color = '#999';
          }
          else {
            td.style.color = '';
          }
          Handsontable.renderers.TextRenderer.apply(this, args);
        }

        hot1 = new Handsontable(container, {
          startRows: 8,
          startCols: 5,
          minSpareRows: 1,
          contextMenu: true,
          cells: function (row, col, prop) {
            var cellProperties = {};

            cellProperties.renderer = defaultValueRenderer;

            return cellProperties;
          },
          beforeChange: function (changes) {
            var instance = hot1,
              ilen = changes.length,
              clen = instance.colCount,
              rowColumnSeen = {},
              rowsToFill = {},
              i,
              c;

            for (i = 0; i < ilen; i++) {
              // if oldVal is empty
              if (changes[i][2] === null && changes[i][3] !== null) {
                if (isEmptyRow(instance, changes[i][0])) {
                  // add this row/col combination to cache so it will not be overwritten by template
                  rowColumnSeen[changes[i][0] + '/' + changes[i][1]] = true;
                  rowsToFill[changes[i][0]] = true;
                }
              }
            }
            for (var r in rowsToFill) {
              if (rowsToFill.hasOwnProperty(r)) {
                for (c = 0; c < clen; c++) {
                  // if it is not provided by user in this change set, take value from template
                  if (!rowColumnSeen[r + '/' + c]) {
                    changes.push([r, c, null, tpl[c]]);
                  }
                }
              }
            }
          }
        });

        hot1.loadData(data);
      </script>
    </div>
  </div>
</div>

