<div class="static-content">

  <script data-jsfiddle="common">
    function getCarData() {
      return [
        {car: 'Nissan', year: 2012, chassis: 'black', bumper: 'black'},
        {car: 'Nissan', year: 2013, chassis: 'blue', bumper: 'blue'},
        {car: 'Chrysler', year: 2014, chassis: 'yellow', bumper: 'black'},
        {car: 'Volvo', year: 2015, chassis: 'white', bumper: 'gray'}
      ];
    }
  </script>

  <div class="index-list">
    <p><strong>This page shows ways to configure columns or cells to be read only:</strong></p>
    <ul>
      <li><a href="#page-columns">Read-only columns</a></li>
      <li><a href="#page-cells">Read-only specific cells</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="columns">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/read-only.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-columns">Read-only columns</h3>
    <p>In many usage cases, you will need to configure a certain column to be read only. This column will be
      available for keyboard navigation and CTRL+C. Only editing and pasting data will be disabled.</p>
    <p>To make a column read-only, declare it in the <code>columns</code> setting. You can also define a special
      renderer function that will dim the read-only values.</p>

    <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container1 = document.getElementById('example1'),
          hot1;

        hot1 = new Handsontable(container1, {
          data: getCarData(),
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
          columns: [
            {
              data: 'car',
              readOnly: true
            },
            {
              data: 'year'
            },
            {
              data: 'chassis'
            },
            {
              data: 'bumper'
            }
          ]
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="cells">
    <h3 id="page-cells">Read-only specific cells</h3>
    <p>This example makes cells that contain the word "Nissan" read only.</p>
    <p>It forces all cells to be rendered by <code>myReadonlyRenderer</code>, which will decide whether a cell is
      really read only by checking its <code>readOnly</code> property.</p>

    <div data-jsfiddle="example2">
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          container2 = document.getElementById('example2'),
          hot2;

        hot2 = new Handsontable(container2, {
          data: getCarData(),
          colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color']

        });
        hot2.updateSettings({
          cells: function (row, col, prop) {
            var cellProperties = {};

            if (hot2.getData()[row][prop] === 'Nissan') {
              cellProperties.readOnly = true;
            }

            return cellProperties;
          }
        })
      </script>
    </div>
  </div>
</div>
