<div class="static-content">

  <div class="index-list">
    <p>Search plugin provides an easy interface to perform data search across Handsontable.</p>
    <p>First thing you should do, is enabling the plugin by setting the <code>search</code> option to <code>true</code>.
    When enabled, <code>searchPlugin</code> exposes a new method <code>query(queryStr)</code>, where <code>queryStr</code>
    is a string to find within the table. By default, the search is case insensitive.</p>
    <p><code>query(queryStr, [callback], [queryMethod])</code> method does 2 things. First of all,
      it returns an array of search results. Every element is an objects containing 3 properties:</p>
    <ul>
      <li><code>row</code> &ndash; index of the row where the value has been found</li>
      <li><code>col</code> &ndash; index of the column where the value has been found</li>
      <li><code>data</code>&ndash; the value that has been found</li>
    </ul>
    <p>The second thing <code>query</code> does is setting the <code>isSearchResult</code> property for each cell.
      If a cell is in search results, then its <code>isSearchResult</code> is set to <code>true</code>,
      otherwise the property is set to <code>false</code>.</p>
    <p>All you have to do now, is use the <code>query()</code> method inside search input listener and you're done.</p>
    <h3>Search result class</h3>
    <p>By default <code>searchPlugin</code> adds <code>htSearchResult</code> class to every cell
      which <code>isSearchResult</code> property is <code>true</code>. You can change this class using
      <code>searchResultClass</code> option.</p>
    <p>If you wish to change the result class globally (for all Handsontable instances on the page),
      you can use <code>Handsontable.Search.global.setDefaultSearchResultClass(className)</code> method.</p>
    <h3>Custom <code>queryMethod</code></h3>
    <p>The <code>queryMethod</code> is responsible for determining whether a <code>queryStr</code>
      matches the value stored in a cell. It takes 2 arguments: <code>queryStr</code> and <code>cellData</code>.
      The first is a string passed to <code>query()</code> method. The second is a value returned by <code>getDataAtCell()</code>.
      The <code>queryMethod</code> function should return <code>true</code> if there is a match.</p>
    <p>The default <code>queryMethod</code> is dead simple:</p>
    <pre>
      <code class="lang-javascript">Handsontable.Search.DEFAULT_QUERY_METHOD = function (query, value) {
  if (typeof query == 'undefined' || query == null || !query.toLowerCase || query.length === 0) {
    return false;
  }

  return value.toString().toLowerCase().indexOf(query.toLowerCase()) !== -1;
};
      </code>
    </pre>
    <p>If you want to change the <code>queryMethod</code>, use <code>queryMethod</code> option.
      You can also pass the <code>queryMethod</code> as the third argument of <code>query()</code> method.
      To change the <code>queryMethod</code> globally, use
      <code>Handsontable.Search.global.setDefaultQueryMethod(queryMethod)</code>.</p>
    <h3>Custom result callback</h3>
    <p>After calling <code>queryMethod</code> <code>searchPlugin</code> calls <code>
      callback(instance, rowIndex, colIndex, cellData, testResult)</code> for every cell.</p>
    <p>Just as the <code>queryMethod</code>, you can override this callback globally, using
      <code>Handsontable.Search.global.setDefaultCallback()</code>, you can set different callbacks
      particular Handsontable instances using <code>callback</code> option, or pass the <code>callback</code>
      as the second argument of <code>query()</code> method.</p>
    <p>The default <code>callback</code> is responsible for setting the <code>isSearchResult</code> property,
      so if you want to preserve this functionality, be sure to invoke <code>Handsontable.Search.DEFAULT_CALLBACK</code>
      inside your custom <code>callback</code>.</p>
    <pre>
      <code class="lang-javascript">Handsontable.Search.DEFAULT_CALLBACK = function(instance, row, col, data, testResult) {
  instance.getCellMeta(row, col).isSearchResult = testResult;
};</code>
    </pre>
    <p>Find the following examples below:</p>
    <ul>
      <li><a href="#page-simplest-use-case">Simplest use case</a></li>
      <li><a href="#page-custom-search-result-class">Custom search result class</a></li>
      <li><a href="#page-custom-query-method">Custom query method</a></li>
      <li><a href="#page-custom-callback">Custom callback</a></li>
    </ul>
  </div>

  <div class="example-container clearfix" name="simplest-use-case">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/search-of-values.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-simplest-use-case">Simplest use case</h3>

    <div data-jsfiddle="example1">
      <input id='search_field' type="search" placeholder="Search" />
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          data = [
            ['Nissan', 2012, 'black', 'black'],
            ['Nissan', 2013, 'blue', 'blue'],
            ['Chrysler', 2014, 'yellow', 'black'],
            ['Volvo', 2015, 'yellow', 'gray']
          ],
          example = document.getElementById('example1'),
          searchFiled = document.getElementById('search_field'),
          hot;

        hot = new Handsontable(example, {
          data: data,
          colHeaders: true,
          search: true
        });

        function onlyExactMatch(queryStr, value) {
          return queryStr.toString() === value.toString();
        }

        Handsontable.Dom.addEvent(searchFiled, 'keyup', function (event) {
          var queryResult = hot.search.query(this.value);

          console.log(queryResult);
          hot.render();
        });

      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="custom-search-result-class">
    <h3 id="page-custom-search-result-class">Custom search result class</h3>
    <div data-jsfiddle="example2">
      <input id='search_field2' type="search" placeholder="Search" />
      <div id="example2" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example2">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example2">
        var
          data = [
            ["Nissan", 2012, "black", "black"],
            ["Nissan", 2013, "blue", "blue"],
            ["Chrysler", 2014, "yellow", "black"],
            ["Volvo", 2015, "white", "gray"]
          ],
          example2 = document.getElementById("example2"),
          hot2, searchFiled2;

        hot2 = new Handsontable(example2,{
          data: data,
          colHeaders: true,
          search: {
            searchResultClass: 'customClass'
          }
        });
        searchFiled2 = document.getElementById('search_field2');

        Handsontable.Dom.addEvent(searchFiled2,'keyup', function (event) {
          var queryResult = hot2.search.query(this.value);

          console.log(queryResult);
          hot2.render();
        });
      </script>
    </div>
  </div>

  <div class="example-container clearfix head-gap" name="custom-query-method">
    <h3 id="page-custom-query-method">Custom query method</h3>

    <div data-jsfiddle="example3">
      <input id='search_field3' type="search" placeholder="Search" />
      <div id="example3" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example3">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example3">
        var
          data = [
            ["Nissan", 2012, "black", "black"],
            ["Nissan", 2013, "blue", "blue"],
            ["Chrysler", 2014, "yellow", "black"],
            ["Volvo", 2015, "white", "gray"]
          ],
          example3 = document.getElementById("example3"),
          hot3, searchFiled3;

        function onlyExactMatch(queryStr, value) {
          return queryStr.toString() === value.toString();
        };

        hot3 = new Handsontable(example3,{
          data: data,
          colHeaders: true,
          search: {
            queryMethod: onlyExactMatch
          }
        });
        searchFiled3 = document.getElementById('search_field3');

        Handsontable.Dom.addEvent(searchFiled3,'keyup', function(event) {
          var queryResult = hot3.search.query(this.value);

          console.log(queryResult);

          hot3.render();
        });
      </script>
    </div>
  </div>
  <div class="example-container clearfix head-gap" name="custom-callback">
    <h3 id="page-custom-callback">Custom callback</h3>

    <div data-jsfiddle="example4">
      <input id='search_field4' type="search" placeholder="Search" />
      <p><span id="resultCount">0</span> results</p>
      <div id="example4" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example4">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example4" data-instance="hot4"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example4">
        var
          data = [
            ["Nissan", 2012, "black", "black"],
            ["Nissan", 2013, "blue", "blue"],
            ["Chrysler", 2014, "yellow", "black"],
            ["Volvo", 2015, "white", "gray"]
          ],
          example4 = document.getElementById("example4"),
          hot4, searchFiled4, resultCount,
          searchResultCount = 0;

        function searchResultCounter(instance, row, col, value, result) {
          Handsontable.Search.DEFAULT_CALLBACK.apply(this, arguments);

          if (result) {
            searchResultCount++;
          }
        }

        hot4 = new Handsontable(example4,{
          data: data,
          colHeaders: true,
          search: {
            callback: searchResultCounter
          }
        });
        searchFiled4 = document.getElementById('search_field4');
        resultCount = document.getElementById('resultCount');

        Handsontable.Dom.addEvent(searchFiled4, 'keyup', function(event) {
          var queryResult;

          searchResultCount = 0;
          queryResult = hot4.search.query(this.value);
          console.log(queryResult);
          resultCount.innerText = searchResultCount.toString();
          hot4.render();
        });
      </script>
    </div>
  </div>
</div>
