<div class="static-content">

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/select.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <p>Select editor should be considered an example how to write editors rather than used as a fully featured
      editor. It is a much simpler form of the <a href="/<?js= version ?>/demo-dropdown.html">Dropdown editor</a>. It is suggested to
      use the latter in your projects.</p>

        <div data-jsfiddle="example1">
      <div id="example1" class="hot"></div>
    </div>

    <div class="codeLayout">
      <div class="buttons">
        <button class="jsFiddleLink" data-runfiddle="example1">
          <i class="fa fa-jsfiddle"></i>
          Edit in jsFiddle
        </button>
        <button class="dump" name="dump" data-dump="#example1" data-instance="hot"
                title="Print current data source to console">
          <i class="fa fa-terminal"></i>
          Dump data to console
        </button>
      </div>
      <script data-jsfiddle="example1">
        var
          container = document.getElementById("example1"),
          hot;

        hot = new Handsontable(container, {
          data: [
            ['2014', 'Nissan', 10],
            ['2015', 'Honda', 20],
            ['2016', 'Kia', 30]
          ],
          colHeaders: true,
          columns: [
            {},
            {
              editor: 'select',
              selectOptions: ['Kia', 'Nissan', 'Toyota', 'Honda']
            },
            {}
          ]
        });
      </script>
    </div>
  </div>
</div>

