<div class="static-content">

  <div class="index-list">
    <p>On this page:</p>
    <ul>
      <li><a href="#page-options">Introduction to cell options</a></li>
      <li><a href="#page-config">How does the Cascading Configuration work?</a></li>
      <li><a href="#page-cascading">The Cascading Configuration model</a></li>
    </ul>
  </div>

  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/setting-options.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <h3 id="page-options">Introduction to cell options</h3>
    <p>Any constructor or column option may be overwritten for a particular cell (row/column combination),
      using <code>cell</code> array passed to the Handsontable constructor. Example:</p>
    <pre><code>var hot = new Handsontable(document.getElementById('example'), {
  cell: [
    {row: 0, col: 0, readOnly: true}
  ]
});</code></pre>
    <p>Or using cells function property to the Handsontable constructor. Example:</p>
    <pre><code>var hot = new Handsontable(document.getElementById('example'), {
  cells: function (row, col, prop) {
    var cellProperties = {}

    if (row === 0 &#x26;&#x26; col === 0) {
      cellProperties.readOnly = true;
    }

    return cellProperties;
  }
})</code></pre>
  </div>

  <div class="example-container clearfix head-gap">
    <h3 id="page-config">How does the Cascading Configuration work?</h3>
    <p>Since Handsontable 0.9 we use Cascading Configuration, which is fast way to provide configuration
      options for the whole table, its columns and particular cells.</p>
    <p>Consider the following example:</p>
    <pre><code>var hot = new Handsontable(document.getElementById('example'), {
  readOnly: true,
  columns: [
    {readOnly: false},
    {},
    {}
  ],
  cells: function (row, col, prop) {
    var cellProperties = {}

    if (row === 0 &#x26;&#x26; col === 0) {
      cellProperties.readOnly = true;
    }

    return cellProperties;
  }
});</code></pre>
    <p>The above notation will result in all TDs being read only, except for first column TDs
      which will be editable, except for the TD in top left corner which will still be read only.</p>
  </div>

  <div class="example-container clearfix head-gap">
    <h3 id="page-cascading">The cascading configuration model</h3>
    <p>The Cascading Configuration model is based on prototypal inheritance. It is much faster and memory
      efficient compared to the previous model that used jQuery extend. See it yourself:
      <a href="http://jsperf.com/extending-settings" target="_blank">http://jsperf.com/extending-settings</a></p>
    <ul>
      <li>
        <p><strong>Constructor</strong></p>
        <p>Configuration options that are provided using first-level</p>
        <pre><code class="lang-javascript">new Handsontable(document.getElementById('example'), {
  option: 'value'
});</code></pre>
        <p>and <code>updateSettings</code> method.</p>
      </li>
      <li>
        <p><strong>Columns</strong></p>
        <p>Configuration options that are provided using second-level object</p>
        <pre><code class="lang-javascript">new Handsontable(document.getElementById('example'), {
  columns: {
    option: 'value'
  }
});</code></pre>
      </li>
      <li>
        <p><strong>Cells</strong></p>
        <p>Configuration options that are provided using second-level function</p>
<pre><code class="lang-javascript">new Handsontable(document.getElementById('example'), {
  cells: function(row, col, prop) {

  }
});</code></pre>
      </li>
    </ul>
  </div>
</div>

