<div class="static-content">

<div class="index-list">
  <p>This page shows how to configure Handsontable column stretching:</p>
  <ul>
    <li><a href="#page-last">StretchH <code>last</code> column</a></li>
    <li><a href="#page-stretch">StretchH <code>all</code> columns</a></li>
    <li><a href="#page-none">StretchH <code>none</code> (default)</a></li>
  </ul>
</div>

<div class="example-container clearfix" name="last">
  <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/stretching.html" class="edit-doc" target="_blank">
    Edit on GitHub
  </a>
  <h3 id="page-last">StretchH <code>last</code> column</h3>
  <p>The following example creates a table with vertical scrollbar by specifying
    only the container height and <code>overflow: hidden</code> in CSS.
    The last column is stretched using <code>stretchH: 'last'</code> option.</p>

  <div data-jsfiddle="example1" class="scroll-container">
    <div id="example1" class="hot"></div>
  </div>

  <div class="codeLayout">
    <div class="buttons">
      <button class="jsFiddleLink" data-runfiddle="example1">
        <i class="fa fa-jsfiddle"></i>
        Edit in jsFiddle
      </button>
      <button class="dump" name="dump" data-dump="#example1" data-instance="hot1"
              title="Print current data source to console">
        <i class="fa fa-terminal"></i>
        Dump data to console
      </button>
    </div>
    <script data-jsfiddle="example1">
      var
        container1 = document.getElementById('example1'),
        hot1;

      hot1 = new Handsontable(container1, {
        data: Handsontable.helper.createSpreadsheetData(40, 6),
        colWidths: 47,
        rowHeaders: true,
        colHeaders: true,
        stretchH: 'last',
        contextMenu: true
      });
    </script>
  </div>
</div>

<div class="example-container clearfix head-gap" name="stretch">
  <h3 id="page-stretch">StretchH <code>all</code> columns</h3>
  <p>If the table content is not as wide as the container width, the table will be stretched to the container
    width. The default horizontal stretch model is to stretch the last column only (by using <code>stretchH:
      'last'</code> option).</p>
  <p>Other possible stretch modes are <code>all</code> (stretches all columns equally, used in the below example)
    and <code>none</code> (not stretching).</p>

  <div data-jsfiddle="example2" class="scroll-container">
    <div id="example2" class="hot"></div>
  </div>

  <div class="codeLayout">
    <div class="buttons">
      <button class="jsFiddleLink" data-runfiddle="example2">
        <i class="fa fa-jsfiddle"></i>
        Edit in jsFiddle
      </button>
      <button class="dump" name="dump" data-dump="#example2" data-instance="hot2"
              title="Print current data source to console">
        <i class="fa fa-terminal"></i>
        Dump data to console
      </button>
    </div>
    <script data-jsfiddle="example2">
      var
        container2 = document.getElementById('example2'),
        hot2;

      hot3 = new Handsontable(container2, {
        data: Handsontable.helper.createSpreadsheetData(40, 6),
        colWidths: [47, 47, 47, 47, 47, 47, 47], // can also be a number or a function
        rowHeaders: true,
        colHeaders: true,
        stretchH: 'all',
        contextMenu: true
      });
    </script>
  </div>
</div>

<div class="example-container clearfix head-gap" name="none">
  <h3 id="page-none">StretchH <code>none</code> (default)</h3>

  <div data-jsfiddle="example3" class="scroll-container">
    <div id="example3" class="hot"></div>
  </div>

  <div class="codeLayout">
    <div class="buttons">
      <button class="jsFiddleLink" data-runfiddle="example3">
        <i class="fa fa-jsfiddle"></i>
        Edit in jsFiddle
      </button>
      <button class="dump" name="dump" data-dump="#example3" data-instance="hot3"
              title="Print current data source to console">
        <i class="fa fa-terminal"></i>
        Dump data to console
      </button>
    </div>
    <script data-jsfiddle="example3">
      var
        container3 = document.getElementById('example3'),
        hot3;

      hot3 = new Handsontable(container3, {
        data: Handsontable.helper.createSpreadsheetData(40, 6),
        colWidths: [47, 47, 47, 47, 47, 47, 47], // can also be a number or a function
        rowHeaders: true,
        colHeaders: true,
        stretchH: 'none', // actually you don't have to declare it because it is default
        contextMenu: true
      });
    </script>
  </div>
</div>
</div>
