<div class="static-content">
  <div class="example-container clearfix">
    <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/styling.html" class="edit-doc" target="_blank">
      Edit on GitHub
    </a>
    <div data-alert class="alert-box secondary">
      <strong>This part of documentation is not ready yet. If you'd like to contribute to this page,
        <a href="https://github.com/handsontable/docs/edit/<?js= version ?>/tutorials/mobiles-and-tablets.html" target="_blank">
          enhance it on GitHub.</a></strong>
      <a href="#" class="close">&times;</a>
    </div>
    <p>The appearance of Handsontable can be easily modified via CSS.</p>
    </div>
  </div>
</div>
